<header class="header">
  <div class="header__wrapper">
    <div class="header-top">
      <div class="container">
        <div class="header-top__inner">
          <div class="header-logo">
            <a href="./">
              <img src="img/logo.svg" width="200" height="59" alt="Логотип Collectoman">
            </a>
            <div class="header-logo__text">
              <div class="header-logo__title">Интернет-Аукцион</div>
              <div class="header-logo__subtitle">24 Сентября 2022 13:05:43</div>
            </div>
          </div>
          <div class="header-top__info">
            <ul>
              <li>Пн-Вс 09:00-21:00</li>
              <li>Телефон: <a href="tel:+74996382946">+7 499 638 29 46</a></li>
            </ul>
          </div>
          <button class="header-top__btn btn-secondary btn-secondary--white btn-secondary--call"
            data-modal-open="modal-call">Обратный
            звонок</button>
          <ul class="header-top__icons">
            <li class="header-top__icon icon-cart"><a href="#"></a></li>
            <li class="header-top__icon icon-wishlist"><a href="#"></a></li>
            <li class="header-top__icon icon-profile"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-middle">
      <div class="container">
        <div class="header-middle__inner">
          <nav class="header__nav nav">
            {% include "../common/nav.njk" %}
          </nav>
          <form class="header-middle__form" action="#">
            <button class="header__search-btn"></button>
            <input type="search" class="header__search-input form-input" placeholder="Поиск">
          </form>
          <button class="burger">
            <span></span>
          </button>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container">
        <div class="header-bottom__inner">
          <form class="header-bottom__form" action="#">
            <button class="header__search-btn"></button>
            <input type="search" class="header__search-input form-input" placeholder="Поиск">
          </form>
          <div class="header-bottom__buttons">
            <a class="header-bottom__btn btn-secondary" href="#">Регистрация</a>
            <a class="header-bottom__btn btn-green" href="#">Вход</a>
            <a class="header-bottom__btn btn-tertiary" href="#">Подписка</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="burger-menu">
    <div class="burger-menu__head">

      <ul class="burger-menu__info">
        <li>Пн-Вс 09:00-21:00</li>
        <li>Телефон: <a href="tel:+74996382946">+7 499 638 29 46</a></li>
      </ul>
      <button class="burger-menu__btn btn-secondary btn-secondary--call" data-modal-open="modal-call">Обратный
        звонок</button>
    </div>
    <nav class="burger-menu__nav nav">
      {% include "../common/nav.njk" %}
    </nav>
  </div>

  <div class="menu-overlay"></div>
</header>
