/* stylelint-disable scss/no-global-function-names */
.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $white-color;
  background: $purple-color;
  transition: background-color $transition;
  cursor: pointer;

  &:focus,
  &:active {
    background-color: darken($purple-color, 10%);
  }

  @include hover {
    background-color: darken($purple-color, 10%);
  }
}

.btn-primary-dark {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $white-color;
  background: $second-purple-color;
  transition: background-color $transition;
  cursor: pointer;

  &:focus,
  &:active {
    background-color: lighten($second-purple-color, 10%);
  }

  @include hover {
    background-color: lighten($second-purple-color, 10%);
  }
}

.btn-green {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $white-color;
  background: $green-color;
  transition: background-color $transition;
  cursor: pointer;

  &:focus,
  &:active {
    background-color: darken($green-color, 10%);
  }

  @include hover {
    background-color: darken($green-color, 10%);
  }
}

.btn-red {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $white-color;
  background: $red-color;
  transition: background-color $transition;
  cursor: pointer;

  &:focus,
  &:active {
    background-color: darken($red-color, 10%);
  }

  @include hover {
    background-color: darken($red-color, 10%);
  }
}

.btn-blue {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $white-color;
  background: $blue-color;
  transition: background-color $transition;
  cursor: pointer;

  &:focus,
  &:active {
    background-color: darken($blue-color, 10%);
  }

  @include hover {
    background-color: darken($blue-color, 10%);
  }
}

.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $green-color;
  border-radius: 5px;
  padding: 5px 30px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $green-color;
  background: transparent;
  transition: border-color $transition, background-color $transition, color $transition;
  cursor: pointer;

  &:focus,
  &:active {
    border-color: darken($green-color, 10%);
    color: $white-color;
    background-color: darken($green-color, 10%);
  }

  @include hover {
    border-color: darken($green-color, 10%);
    color: $white-color;
    background-color: darken($green-color, 10%);
  }

  /* stylelint-disable-next-line order/order */
  &--white {
    border: 2px solid $white-color;
    color: $white-color;

    &:focus,
    &:active {
      border-color: darken($purple-color, 10%);
      color: $white-color;
      background-color: darken($purple-color, 10%);
    }

    @include hover {
      border-color: darken($purple-color, 10%);
      color: $white-color;
      background-color: darken($purple-color, 10%);
    }
  }

  &--thin {
    border-width: 1px;
    font-weight: 400;
  }

  &--call {
    padding: 5px 30px 5px 60px;
    background: url("../img/phone-green-icon.svg") center left 30px no-repeat;

    &.btn-secondary--white {
      background-image: url("../img/phone-icon.svg");
    }
  }

  &--arrow {
    padding: 5px  57px 5px 30px;
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39586 17.5834L14.4167 10.5834C14.5 10.5001 14.5592 10.4098 14.5942 10.3126C14.6292 10.2154 14.6464 10.1112 14.6459 10.0001C14.6459 9.88897 14.6286 9.7848 14.5942 9.68758C14.5598 9.59036 14.5006 9.50008 14.4167 9.41675L7.39586 2.39591C7.20142 2.20147 6.95836 2.10425 6.6667 2.10425C6.37503 2.10425 6.12503 2.20841 5.9167 2.41675C5.70836 2.62508 5.6042 2.86814 5.6042 3.14591C5.6042 3.42369 5.70836 3.66675 5.9167 3.87508L12.0417 10.0001L5.9167 16.1251C5.72225 16.3195 5.62503 16.5592 5.62503 16.8442C5.62503 17.1292 5.72919 17.3756 5.93753 17.5834C6.14586 17.7917 6.38892 17.8959 6.6667 17.8959C6.94447 17.8959 7.18753 17.7917 7.39586 17.5834Z' fill='%230DB051'/%3E%3C/svg%3E%0A")  center right  30px no-repeat;
    transition: border-color $transition, background $transition, color $transition;

    &:focus,
    &:active {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39586 17.5834L14.4167 10.5834C14.5 10.5001 14.5592 10.4098 14.5942 10.3126C14.6292 10.2154 14.6464 10.1112 14.6459 10.0001C14.6459 9.88897 14.6286 9.7848 14.5942 9.68758C14.5598 9.59036 14.5006 9.50008 14.4167 9.41675L7.39586 2.39591C7.20142 2.20147 6.95836 2.10425 6.6667 2.10425C6.37503 2.10425 6.12503 2.20841 5.9167 2.41675C5.70836 2.62508 5.6042 2.86814 5.6042 3.14591C5.6042 3.42369 5.70836 3.66675 5.9167 3.87508L12.0417 10.0001L5.9167 16.1251C5.72225 16.3195 5.62503 16.5592 5.62503 16.8442C5.62503 17.1292 5.72919 17.3756 5.93753 17.5834C6.14586 17.7917 6.38892 17.8959 6.6667 17.8959C6.94447 17.8959 7.18753 17.7917 7.39586 17.5834Z' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
    }

    @include hover {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39586 17.5834L14.4167 10.5834C14.5 10.5001 14.5592 10.4098 14.5942 10.3126C14.6292 10.2154 14.6464 10.1112 14.6459 10.0001C14.6459 9.88897 14.6286 9.7848 14.5942 9.68758C14.5598 9.59036 14.5006 9.50008 14.4167 9.41675L7.39586 2.39591C7.20142 2.20147 6.95836 2.10425 6.6667 2.10425C6.37503 2.10425 6.12503 2.20841 5.9167 2.41675C5.70836 2.62508 5.6042 2.86814 5.6042 3.14591C5.6042 3.42369 5.70836 3.66675 5.9167 3.87508L12.0417 10.0001L5.9167 16.1251C5.72225 16.3195 5.62503 16.5592 5.62503 16.8442C5.62503 17.1292 5.72919 17.3756 5.93753 17.5834C6.14586 17.7917 6.38892 17.8959 6.6667 17.8959C6.94447 17.8959 7.18753 17.7917 7.39586 17.5834Z' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
    }

    &.btn-secondary--purple {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39574 17.5834L14.4166 10.5834C14.4999 10.5001 14.5591 10.4098 14.5941 10.3126C14.6291 10.2154 14.6463 10.1112 14.6457 10.0001C14.6457 9.88897 14.6285 9.7848 14.5941 9.68758C14.5596 9.59036 14.5005 9.50008 14.4166 9.41675L7.39574 2.39591C7.20129 2.20147 6.95824 2.10425 6.66657 2.10425C6.37491 2.10425 6.12491 2.20841 5.91657 2.41675C5.70824 2.62508 5.60407 2.86814 5.60407 3.14591C5.60407 3.42369 5.70824 3.66675 5.91657 3.87508L12.0416 10.0001L5.91657 16.1251C5.72213 16.3195 5.62491 16.5592 5.62491 16.8442C5.62491 17.1292 5.72907 17.3756 5.93741 17.5834C6.14574 17.7917 6.38879 17.8959 6.66657 17.8959C6.94435 17.8959 7.18741 17.7917 7.39574 17.5834Z' fill='%238040A8'/%3E%3C/svg%3E%0A");

      &:focus,
      &:active {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39586 17.5834L14.4167 10.5834C14.5 10.5001 14.5592 10.4098 14.5942 10.3126C14.6292 10.2154 14.6464 10.1112 14.6459 10.0001C14.6459 9.88897 14.6286 9.7848 14.5942 9.68758C14.5598 9.59036 14.5006 9.50008 14.4167 9.41675L7.39586 2.39591C7.20142 2.20147 6.95836 2.10425 6.6667 2.10425C6.37503 2.10425 6.12503 2.20841 5.9167 2.41675C5.70836 2.62508 5.6042 2.86814 5.6042 3.14591C5.6042 3.42369 5.70836 3.66675 5.9167 3.87508L12.0417 10.0001L5.9167 16.1251C5.72225 16.3195 5.62503 16.5592 5.62503 16.8442C5.62503 17.1292 5.72919 17.3756 5.93753 17.5834C6.14586 17.7917 6.38892 17.8959 6.6667 17.8959C6.94447 17.8959 7.18753 17.7917 7.39586 17.5834Z' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
      }

      @include hover {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.39586 17.5834L14.4167 10.5834C14.5 10.5001 14.5592 10.4098 14.5942 10.3126C14.6292 10.2154 14.6464 10.1112 14.6459 10.0001C14.6459 9.88897 14.6286 9.7848 14.5942 9.68758C14.5598 9.59036 14.5006 9.50008 14.4167 9.41675L7.39586 2.39591C7.20142 2.20147 6.95836 2.10425 6.6667 2.10425C6.37503 2.10425 6.12503 2.20841 5.9167 2.41675C5.70836 2.62508 5.6042 2.86814 5.6042 3.14591C5.6042 3.42369 5.70836 3.66675 5.9167 3.87508L12.0417 10.0001L5.9167 16.1251C5.72225 16.3195 5.62503 16.5592 5.62503 16.8442C5.62503 17.1292 5.72919 17.3756 5.93753 17.5834C6.14586 17.7917 6.38892 17.8959 6.6667 17.8959C6.94447 17.8959 7.18753 17.7917 7.39586 17.5834Z' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &--purple {
    border-color: $purple-color;
    color: $purple-color;

    &:focus,
    &:active {
      border-color: darken($purple-color, 10%);
      background-color: darken($purple-color, 10%);
    }

    @include hover {
      border-color: $purple-color;
      background-color: $purple-color;
    }
  }
}

.btn-tertiary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $light-grey-color;
  border-radius: 5px;
  padding: 5px 30px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $light-grey-color;
  transition: background-color $transition;
  cursor: pointer;

  @include hover {
    background-color: darken($white-color, 10%);
  }
}
