.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px 30px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $white-color;
  background: $purple-color;
  cursor: pointer;

  &:focus,
  &:active {
  }

  @include hover {
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $green-color;
  border-radius: 5px;
  padding: 5px 30px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $green-color;
  background: transparent;
  cursor: pointer;

  &:focus,
  &:active {
  }

  &--white {
    border: 2px solid $white-color;
    color: $white-color;
  }

  &--call {
    padding: 5px 30px 5px 60px;
    background: url("../img/phone-green-icon.svg") center left 30px no-repeat;

    &.btn-secondary--white {
      background-image: url("../img/phone-icon.svg");
    }
  }

  @include hover {
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn-tertiary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $light-grey-color;
  border-radius: 5px;
  padding: 5px 30px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $light-grey-color;
  cursor: pointer;

  @include hover {
    &:hover {
      text-decoration: underline;
    }
  }
}
