.swiper {
  .slider-button-prev,
  .slider-button-next {
    display: block;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url("../img/arrow-icon.svg") center no-repeat;
    background-color: $red-color;
    transition: opacity $transition;
    cursor: pointer;

    &.swiper-button-disabled {
      opacity: 0.7;
    }
  }

  .slider-button-prev {
    transform: rotate(180deg);
  }

  .slider-pagination {
    @include flex-center;

    position: absolute;
    bottom: 13px;
    z-index: 3;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: $light-grey-color;
      opacity: 1;
      transition: background-color $transition;

      &.swiper-pagination-bullet-active {
        background-color: $second-light-purple-color;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .swiper {
    .slider-pagination {
      bottom: 10px;
    }
  }
}

@media screen and (max-width: 580px) {
  .swiper {
    .slider-button-prev,
    .slider-button-next {
      display: none;
    }
  }
}
