.socials {
  display: flex;
  align-items: center;

  li {
    @include mr(20px);

    flex-shrink: 0;
    transition: transform $transition;

    @include hover {
      transform: scale(1.1);
    }
  }

  img {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: $menu-breakpoint) {
  .socials {
    li {
      @include mr(16px);
    }
  }
}

@media screen and (max-width: 460px) {
  .socials {
    li {
      @include mr(8px);
    }

    img {
      width: 22px;
      height: 22px;
    }
  }
}
