.footer {
  padding: 50px 0;
  color: $white-color;
  background-color: $grey-color;

  &__main {
    display: grid;
    grid-template-columns: 360fr 205fr 228fr 300fr;
    margin-bottom: -55px;
    gap: 54px;
  }

  &__col {
    max-width: 360px;
  }

  &__text {
    margin-top: 8px;
    font-size: 10px;
    line-height: 1.4;
    color: $light-grey-color;
  }

  &__col-title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__list {
    li {
      @include mb(20px);

      font-size: 14px;
      color: $light-grey-color;
    }

    a {
      @include hover {
        text-decoration: underline;
      }
    }
  }

  &__title {
    margin-bottom: 10px;
    max-width: 445px;
    font-size: 25px;
    line-height: 1;

    em {
      font-weight: 500;
      font-style: italic;
      color: $light-purple-color;
    }
  }

  &__subtitle {
    margin-bottom: 16px;
    font-weight: 300;
    font-size: 14px;
  }

  &__form {
    margin-bottom: 16px;
  }

  &__icons {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    li {
      @include mr(24px);

      display: flex;
      align-items: center;
      padding-left: 32px;
      min-height: 24px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.4;
      color: $light-grey-color;
      background-position: left;
      background-size: 24px;
      background-repeat: no-repeat;
    }
  }

  &__bottom-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.4;

    p {
      font-weight: 300;
      font-size: 15px;
    }

    ul {
      display: flex;
      align-items: center;
    }

    li {
      @include mr(28px);

      font-weight: 300;
      font-size: 10px;
    }

    a {
      text-decoration: underline;
    }
  }
}

.footer-logo {
  display: flex;
  align-items: center;

  > a {
    flex-shrink: 0;
    margin-right: 10px;
    border-right: 1px solid $white-color;
    padding-right: 5px;

    img {
      display: flex;
      width: 200px;
    }
  }

  &__text {
    line-height: 1.2;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 14px;
  }

  &__subtitle {
    font-size: 10px;
  }
}

.footer-contacts {
  &__item {
    @include mb(30px);

    font-size: 14px;

    p {
      color: $light-grey-color;
    }
  }

  &__title {
    font-weight: 600;
  }

  &__socials {
    margin-top: 10px;
  }
}

.footer-form {
  &__row {
    display: flex;
    align-items: center;
  }

  &__input {
    margin-right: 8px;
    padding: 9px 20px;
    max-width: 300px;
    font-weight: 400;
    font-size: 14px;
  }

  &__btn {
    height: 40px;
  }
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 40px 0;

    &__col-title {
      margin-bottom: 24px;
      font-size: 16px;
    }

    &__list li {
      @include mb(16px);

      font-size: 12px;
    }

    &__text {
      margin-top: 16px;
    }

    &__main {
      grid-template-columns: 21fr 17fr 21fr 26fr;
      gap: 40px;
    }
  }

  .footer-logo {
    > a {
      margin-right: 5px;

      img {
        width: 110px;
      }
    }

    &__title {
      font-size: 8px;
    }

    &__subtitle {
      font-size: 6px;
    }
  }

  .footer-contacts {
    &__item {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: $menu-breakpoint) {
  .footer {
    padding: 30px 0;

    &__main {
      display: block;
      margin-bottom: 100px;
    }

    &__title {
      margin-bottom: 16px;
      font-size: 20px;
    }

    &__subtitle {
      margin-bottom: 12px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;

      li {
        @include mr(24px);
        @include mb(0);
      }
    }

    &__col-title {
      margin-bottom: 16px;
    }

    &__col {
      @include mb(40px);

      max-width: 100%;

      &--logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__text {
      margin-left: 20px;
      max-width: 470px;
    }
  }

  .footer-logo {
    flex-shrink: 0;
  }

  .footer-form__input {
    margin-right: 16px;
  }

  .footer-contacts {
    display: flex;
    flex-wrap: wrap;

    &__item {
      @include mr(40px);

      width: 100%;
      max-width: 160px;

      &:last-child {
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .footer {
    padding: 35px 0;

    &__col {
      @include mb(24px);

      &--logo {
        display: block;
        text-align: center;
      }
    }

    &__list {
      justify-content: space-between;
      margin: -8px;

      li {
        margin: 8px;

        &:not(:last-child) {
          margin: 8px;
        }
      }
    }

    &__main {
      margin-bottom: 40px;
    }

    &__form {
      margin-bottom: 16px;
    }

    &__text {
      margin: 0 auto;
    }

    &__title {
      margin: 0 auto 16px;
      text-align: center;
    }

    &__icons {
      @include grid(2, 16px);

      li:not(:last-child) {
        margin: 0;
      }
    }

    &__bottom-line {
      ul {
        display: block;
      }

      li {
        @include mb(8px);
        @include mr(0);
      }
    }
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    margin: 0 auto 15px;
    text-align: center;

    > a {
      margin: 0;
      border: none;
      padding: 0;
    }

    &__text {
      display: none;
    }
  }

  .footer-form {
    &__input {
      max-width: 220px;
    }
  }

  .footer-contacts {
    @include grid(2, 16px);

    &__item {
      margin: 0;
      width: auto;
      max-width: 100%;

      &:not(:last-child) {
        margin: 0;
      }

      &:nth-child(even) {
        text-align: right;
      }
    }

    .socials {
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 460px) {
  .footer {
    padding: 35px 0 45px;

    &__title {
      max-width: 280px;
      font-size: 14px;
    }

    &__subtitle {
      font-size: 12px;
    }

    &__list {
      li.footer-item-centered-mobile {
        flex-grow: 1;
        text-align: center;
      }

      &--2-columns-mobile {
        li {
          width: calc(50% - 16px);

          &:nth-child(even) {
            text-align: right;
          }
        }
      }
    }

    &__icons {
      gap: 8px;

      li {
        padding-left: 24px;
        min-height: 16px;
        font-size: 10px;
        background-size: 16px;
      }
    }

    &__bottom-row {
      align-items: center;
    }

    &__bottom-line {
      display: block;
      text-align: center;

      ul {
        margin-bottom: 24px;
      }
    }

    &__form {
      margin-bottom: 24px;
    }

    &__col-title {
      font-size: 14px;
      text-align: center;
    }
  }

  .footer-form {
    margin: 0 auto 24px;
    max-width: 280px;

    &__row {
      flex-direction: column;
    }

    &__btn {
      font-size: 14px;
    }

    &__input {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}
