<section class="catalog catalog--tabs">
  <div class="container">
    <div class="catalog__inner">
      <div class="catalog__tabs">
        <ul>
          <li class="is-active" role="button" tabindex="0" data-tabs="1">Новинки</li>
          <li role="button" tabindex="0" data-tabs="2">Акционные</li>
          <li role="button" tabindex="0" data-tabs="3">Рекомендованные</li>
          <li role="button" tabindex="0" data-tabs="4">Закрывающиеся</li>
        </ul>
      </div>
      <div class="catalog__content">
        <ol class="catalog__list is-active" data-tabs="1">
          <li class="catalog-card">
            <div class="catalog-card__head">
              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-1.webp 1x, img/catalog-1@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-1.jpg" srcset="img/catalog-1.jpg 1x, img/catalog-1@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">Владимир Высоцкий - Избранное (CD)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
          <li class="catalog-card">
            <div class="catalog-card__head">
              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-2.webp 1x, img/catalog-2@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-2.jpg" srcset="img/catalog-2.jpg 1x, img/catalog-2@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">NAZARETH - <br>
              Cinema (LP)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
          <li class="catalog-card">
            <div class="catalog-card__head">
              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-3.webp 1x, img/catalog-3@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-3.jpg" srcset="img/catalog-3.jpg 1x, img/catalog-3@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">The Prodigy - The Fat Of The Land (RU)(2CD)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
          <li class="catalog-card">
            <div class="catalog-card__head">
              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-4.webp 1x, img/catalog-4@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-4.jpg" srcset="img/catalog-4.jpg 1x, img/catalog-4@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">Imagine Dragons - Night Visions (RU)(CD)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
          <li class="catalog-card">
            <div class="catalog-card__head">
              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-5.webp 1x, img/catalog-5@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-5.jpg" srcset="img/catalog-5.jpg 1x, img/catalog-5@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">Imagine Dragons - Night Visions (RU)(CD)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
          <li class="catalog-card">
            <div class="catalog-card__head">
              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-6.webp 1x, img/catalog-6@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-6.jpg" srcset="img/catalog-6.jpg 1x, img/catalog-6@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">Suffocation - ...Of The Dark Light (RU)(CD)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
          <li class="catalog-card">
            <div class="catalog-card__head">
              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-7.webp 1x, img/catalog-7@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-7.jpg" srcset="img/catalog-7.jpg 1x, img/catalog-7@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">Монеточка - Раскраски Для Взрослых (CD)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
          <li class="catalog-card">
            <div class="catalog-card__head">
              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-8.webp 1x, img/catalog-8@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-8.jpg" srcset="img/catalog-8.jpg 1x, img/catalog-8@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">Би-2 - Лунапарк <br>
              (2CD)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
        </ol>
        <ol class="catalog__list" data-tabs="2">
          <li class="catalog-card">
            <div class="catalog-card__head">
              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-2.webp 1x, img/catalog-2@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-2.jpg" srcset="img/catalog-2.jpg 1x, img/catalog-2@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">NAZARETH - <br>
              Cinema (LP)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
          <li class="catalog-card">
            <div class="catalog-card__head">

              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-3.webp 1x, img/catalog-3@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-3.jpg" srcset="img/catalog-3.jpg 1x, img/catalog-3@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">The Prodigy - The Fat Of The Land (RU)(2CD)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
        </ol>
        <ol class="catalog__list" data-tabs="3">
          <li class="catalog-card">
            <div class="catalog-card__head">

              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-3.webp 1x, img/catalog-3@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-3.jpg" srcset="img/catalog-3.jpg 1x, img/catalog-3@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">The Prodigy - The Fat Of The Land (RU)(2CD)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
          <li class="catalog-card">
            <div class="catalog-card__head">

              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-7.webp 1x, img/catalog-7@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-7.jpg" srcset="img/catalog-7.jpg 1x, img/catalog-7@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">Монеточка - Раскраски Для Взрослых (CD)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
        </ol>
        <ol class="catalog__list" data-tabs="4">
          <li class="catalog-card">
            <div class="catalog-card__head">

              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-1.webp 1x, img/catalog-1@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-1.jpg" srcset="img/catalog-1.jpg 1x, img/catalog-1@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">Владимир Высоцкий - Избранное (CD)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
          <li class="catalog-card">
            <div class="catalog-card__head">

              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-2.webp 1x, img/catalog-2@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-2.jpg" srcset="img/catalog-2.jpg 1x, img/catalog-2@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">NAZARETH - <br>
              Cinema (LP)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
          <li class="catalog-card">
            <div class="catalog-card__head">

              <div class="catalog-card__num"></div>
            </div>
            <a class="catalog-card__img" href="#">
              <picture>
                <source srcset="img/catalog-3.webp 1x, img/catalog-3@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/catalog-3.jpg" srcset="img/catalog-3.jpg 1x, img/catalog-3@2x.jpg 2x"
                  width="230" height="230" alt="catalog image">
              </picture>
            </a>
            <a class="catalog-card__title" href="#">The Prodigy - The Fat Of The Land (RU)(2CD)</a>
            <div class="catalog-card__info">
              <div class="catalog-card__row">
                <div class="catalog-card__key">Статус</div>
                <div class="catalog-card__value">Выставлен <i class="icon-hint-purple"></i></div>
              </div>
              <div class="catalog-card__row">
                <div class="catalog-card__key">Текущая цена</div>
                <div class="catalog-card__value">1 420 ₽ <i class="icon-hint-purple"></i></div>
              </div>
            </div>
            <div class="catalog-card__buttons">
              <a class="catalog-card__btn-bid" href="#">Сделать ставку <span>1 435 ₽ <i
                    class="icon-hint"></i></span></a>
              <a class="catalog-card__btn-buy" href="#">Купить сейчас <span>2 670 ₽ <i class="icon-hint"></i></span></a>
            </div>
          </li>
        </ol>
      </div>
      <div class="catalog__btn-wrapper">
        <button class="catalog__btn btn-secondary">Показать еще</button>
      </div>
    </div>
  </div>
</section>
