<section class="categories">
  <div class="container">
    <div class="categories__inner">
      <div class="categories__slider categories-slider swiper">
        <div class="swiper-wrapper">
          <div class="categories-slider__item swiper-slide">
            <picture>
              <source srcset="img/categories-banner.webp 1x, img/categories-banner@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/categories-banner.jpg"
                srcset="img/categories-banner.jpg 1x, img/categories-banner@2x.jpg 2x" width="630" height="400"
                alt="banner">
            </picture>
          </div>
          <div class="categories-slider__item swiper-slide">
            <picture>
              <source srcset="img/categories-banner.webp 1x, img/categories-banner@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/categories-banner.jpg"
                srcset="img/categories-banner.jpg 1x, img/categories-banner@2x.jpg 2x" width="630" height="400"
                alt="banner">
            </picture>
          </div>
          <div class="categories-slider__item swiper-slide">
            <picture>
              <source srcset="img/categories-banner.webp 1x, img/categories-banner@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/categories-banner.jpg"
                srcset="img/categories-banner.jpg 1x, img/categories-banner@2x.jpg 2x" width="630" height="400"
                alt="banner">
            </picture>
          </div>
          <div class="categories-slider__item swiper-slide">
            <picture>
              <source srcset="img/categories-banner.webp 1x, img/categories-banner@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/categories-banner.jpg"
                srcset="img/categories-banner.jpg 1x, img/categories-banner@2x.jpg 2x" width="630" height="400"
                alt="banner">
            </picture>
          </div>
          <div class="categories-slider__item swiper-slide">
            <picture>
              <source srcset="img/categories-banner.webp 1x, img/categories-banner@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/categories-banner.jpg"
                srcset="img/categories-banner.jpg 1x, img/categories-banner@2x.jpg 2x" width="630" height="400"
                alt="banner">
            </picture>
          </div>
          <div class="categories-slider__item swiper-slide">
            <picture>
              <source srcset="img/categories-banner.webp 1x, img/categories-banner@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/categories-banner.jpg"
                srcset="img/categories-banner.jpg 1x, img/categories-banner@2x.jpg 2x" width="630" height="400"
                alt="banner">
            </picture>
          </div>
          <div class="categories-slider__item swiper-slide">
            <picture>
              <source srcset="img/categories-banner.webp 1x, img/categories-banner@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/categories-banner.jpg"
                srcset="img/categories-banner.jpg 1x, img/categories-banner@2x.jpg 2x" width="630" height="400"
                alt="banner">
            </picture>
          </div>
          <div class="categories-slider__item swiper-slide">
            <picture>
              <source srcset="img/categories-banner.webp 1x, img/categories-banner@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/categories-banner.jpg"
                srcset="img/categories-banner.jpg 1x, img/categories-banner@2x.jpg 2x" width="630" height="400"
                alt="banner">
            </picture>
          </div>
          <div class="categories-slider__item swiper-slide">
            <picture>
              <source srcset="img/categories-banner.webp 1x, img/categories-banner@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/categories-banner.jpg"
                srcset="img/categories-banner.jpg 1x, img/categories-banner@2x.jpg 2x" width="630" height="400"
                alt="banner">
            </picture>
          </div>
          <div class="categories-slider__item swiper-slide">
            <picture>
              <source srcset="img/categories-banner.webp 1x, img/categories-banner@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/categories-banner.jpg"
                srcset="img/categories-banner.jpg 1x, img/categories-banner@2x.jpg 2x" width="630" height="400"
                alt="banner">
            </picture>
          </div>
        </div>
        <div class="slider-pagination"></div>
        <button class="slider-button-prev"></button>
        <button class="slider-button-next"></button>
      </div>
      <div class="categories__content">
        <ul class="categories-list">
          <li class="categories-list__item">
            <a class="categories-list__link" href="#">Виниловые пластинки</a>
          </li>
          <li class="categories-list__item">
            <a class="categories-list__link" href="#">Компакт-диск</a>
          </li>
          <li class="categories-list__item">
            <a class="categories-list__link" href="#">Аудиокасеты</a>
          </li>
          <li class="categories-list__item">
            <a class="categories-list__link" href="#">Книги</a>
          </li>
          <li class="categories-list__item">
            <a class="categories-list__link" href="#">Музыкальный мерч</a>
          </li>
          <li class="categories-list__item">
            <a class="categories-list__link" href="#">Музыкальные сувениры</a>
          </li>
        </ul>
        <ul class="categories-list">
          <li class="categories-list__item">
            <a class="categories-list__link" href="#">Винтажный винил</a>
          </li>
          <li class="categories-list__item">
            <a class="categories-list__link" href="#">Музыкальное видео</a>
          </li>
          <li class="categories-list__item">
            <a class="categories-list__link" href="#">Аудиотехника</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
