<section class="completed">
  <div class="container">
    <div class="completed__inner">
      <div class="completed__head">
        <h2 class="completed__title title">Прошедшие аукционы</h2>
        <a class="completed__btn btn-secondary btn-secondary--arrow" href="#">Показать еще</a>
      </div>
      <ul class="completed__list">
        <li class="auction-card">
          <a class="auction-card__img" href="#">
            <picture>
              <source srcset="img/auction-1.webp 1x, img/auction-1@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/auction-1.jpg" srcset="img/auction-1.jpg 1x, img/auction-1@2x.jpg 2x"
                width="260" height="260" alt="">
            </picture>
          </a>
          <div class="auction-card__date">23/12 - 26/12/2022</div>
          <a class="auction-card__title" href="#">Аукцион №38 - виниловые пластинки XX-XXI веков</a>
          <a class="btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
        </li>
        <li class="auction-card">
          <a class="auction-card__img" href="#">
            <picture>
              <source srcset="img/auction-2.webp 1x, img/auction-2@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/auction-2.jpg" srcset="img/auction-2.jpg 1x, img/auction-2@2x.jpg 2x"
                width="260" height="260" alt="">
            </picture>
          </a>
          <div class="auction-card__date">23/12 - 26/12/2022</div>
          <a class="auction-card__title" href="#">Аукцион №38 - виниловые пластинки XX-XXI веков</a>
          <a class="btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
        </li>
        <li class="auction-card">
          <a class="auction-card__img" href="#">
            <picture>
              <source srcset="img/auction-3.webp 1x, img/auction-3@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/auction-3.png" srcset="img/auction-3.png 1x, img/auction-3@2x.png 2x"
                width="260" height="260" alt="">
            </picture>
          </a>
          <div class="auction-card__date">23/12 - 26/12/2022</div>
          <a class="auction-card__title" href="#">Аукцион №38 - виниловые пластинки XX-XXI веков</a>
          <a class="btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
        </li>
        <li class="auction-card">
          <a class="auction-card__img" href="#">
            <picture>
              <source srcset="img/auction-4.webp 1x, img/auction-4@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/auction-4.jpg" srcset="img/auction-4.jpg 1x, img/auction-4@2x.jpg 2x"
                width="260" height="260" alt="">
            </picture>
          </a>
          <div class="auction-card__date">23/12 - 26/12/2022</div>
          <a class="auction-card__title" href="#">Аукцион №38 - виниловые пластинки XX-XXI веков</a>
          <a class="btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
        </li>
      </ul>
      <div class="completed__btn-wrapper">
        <a class="completed__btn-mobile btn-secondary btn-secondary--arrow" href="#">Показать еще</a>
      </div>
    </div>
  </div>
</section>
