<section class="how">
  <div class="container">
    <div class="how__inner">
      <h3 class="how__title title text-center">Как работает аукцион</h3>
      <ol class="how-list">
        <li class="how-list__item">
          <div class="how-list__icon">
            <img src="img/how-icon-1.svg" width="100" height="100" alt="how works icon">
          </div>
          <div class="how-list__name">Регистрируйся</div>
          <div class="how-list__text">
            <p>Для того чтобы принять участие
              в&nbsp;аукционе Вам необходимо зарегистрироваться</p>
          </div>
        </li>
        <li class="how-list__item">
          <div class="how-list__icon">
            <img src="img/how-icon-2.svg" width="100" height="100" alt="how works icon">
          </div>
          <div class="how-list__name">Делай ставку</div>
          <div class="how-list__text">
            <p>Вы можете сделать ставку
              на&nbsp;минимальный шаг или поставить автоматическую ставку (Автобид)</p>
          </div>
        </li>
        <li class="how-list__item">
          <div class="how-list__icon">
            <img src="img/how-icon-3.svg" width="100" height="100" alt="how works icon">
          </div>
          <div class="how-list__name">Выигрывай</div>
          <div class="how-list__text">
            <p>После завершения аукицона,
              вы&nbsp;будете признаны победителем, если ваша ставка последняя</p>
          </div>
        </li>
        <li class="how-list__item">
          <div class="how-list__icon">
            <img src="img/how-icon-4.svg" width="100" height="100" alt="how works icon">
          </div>
          <div class="how-list__name">Забирай</div>
          <div class="how-list__text">
            <p>После выигрыша надо оформить заказ и указать каким образом
              Вы&nbsp;хотите получить и оплатить лот</p>
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
