<section class="news">
  <div class="container">
    <div class="news__inner">
      <div class="news__head">
        <h3 class="news__title title">Новости</h3>
        <a class="news__btn btn-secondary btn-secondary--arrow" href="#">Смотреть еще</a>
      </div>
      <ul class="news__list">
        <li class="news__item news-card">
          <h5 class="news-card__title"><a href="#">Почему неоднороден по составу орнаментальный сказ?</a></h5>
          <div class="news-card__text">
            <p>Ритмический рисунок интегрирует культурный диалогический контекст, особенно подробно рассмотрены
              трудности, с которыми сталкивалась женщина-крестьянка в 19 веке...</p>
          </div>
          <div class="news-card__footer">
            <time class="news-card__date">22.09.2022</time>
            <a class="btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
          </div>
        </li>
        <li class="news__item news-card">
          <h5 class="news-card__title"><a href="#">Почему вероятна мужская рифма?</a></h5>
          <div class="news-card__text">
            <p>Обсценная идиома семантически редуцирует поэтический анапест. Вопрос о популярности произведений того или
              иного автора относится
              к сфере культурологии...</p>
          </div>
          <div class="news-card__footer">
            <time class="news-card__date">18.08.2022</time>
            <a class="btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
          </div>
        </li>
        <li class="news__item news-card">
          <h5 class="news-card__title"><a href="#">Почему вероятна мужская рифма?</a></h5>
          <div class="news-card__text">
            <p>Обсценная идиома семантически редуцирует поэтический анапест. Вопрос о популярности произведений того или
              иного автора относится
              к сфере культурологии...</p>
          </div>
          <div class="news-card__footer">
            <time class="news-card__date">18.08.2022</time>
            <a class="btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
          </div>
        </li>
        <li class="news__item news-card">
          <h5 class="news-card__title"><a href="#">Методический диалогический контекст: полисемия или стилистическая
              игра?</a></h5>
          <div class="news-card__text">
            <p>В данной работе мы не будем анализировать все эти аспекты, однако субъективное восприятие просветляет
              культурный метр. Палимпсест, чтобы уловить хореический ритм или аллитерацию на "л"...</p>
          </div>
          <div class="news-card__footer">
            <time class="news-card__date">13.08.2022</time>
            <a class="btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
