<section class="order-complete page-offset">
  <div class="container">
    <div class="order-complete__inner">
      <h1 class="order-complete__title page-title">Заказ сформирован</h1>
      <p class="order-complete__subtitle">Ваш заказ №456 от 02.03.2023 15:40 успешно создан. Номер вашей оплаты: №456/1
      </p>
      <p class="order-complete__text">Вы можете следить за выполнением своего заказа в Личном кабинете в разделе
        Мои заказы</p>
      <div class="order-complete__payment">
        <div class="order-complete__payment-title">Оплата заказа</div>
        <ul>
          <li>
            <img src="img/visa.png" width="120" alt="visa electron">
          </li>
          <li>
            <img src="img/mastercard.png" width="100" alt="mastercard">
          </li>
        </ul>
        <p>Банковские карты. Услугу предоставляет сервис платежей “ЮKassa”</p>
      </div>
      <div class="order-complete__row">
        <div class="order-complete__price-caption">Сумма к оплате:</div>
        <div class="order-complete__price">10 000 ₽</div>
        <button class="order-complete__btn btn-primary">Оплатить</button>
      </div>
      <p class="order-complete__caption">Вы будете перенаправлены на страницу оплаты</p>
      <p class="order-complete__warning"><b>Обратите внимание:</b> если вы откажитесь от покупки, для возврата денег
        вам придется обратиться в поддержку</p>
    </div>
  </div>
</section>
