<section class="product">
  <div class="container">
    <div class="product__inner">
      <div class="product__slider-wrapper">
        <div class="product__slider swiper">
          <div class="swiper-wrapper">
            <div class="product__slide swiper-slide">
              <picture>
                <source srcset="img/product.webp 1x, img/product@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product.jpg" srcset="img/product.jpg 1x, img/product@2x.jpg 2x" width="400"
                  height="394" alt="">
              </picture>
            </div>
            <div class="product__slide swiper-slide">
              <picture>
                <source srcset="img/product.webp 1x, img/product@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product.jpg" srcset="img/product.jpg 1x, img/product@2x.jpg 2x" width="400"
                  height="394" alt="">
              </picture>
            </div>
            <div class="product__slide swiper-slide">
              <picture>
                <source srcset="img/product.webp 1x, img/product@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product.jpg" srcset="img/product.jpg 1x, img/product@2x.jpg 2x" width="400"
                  height="394" alt="">
              </picture>
            </div>
            <div class="product__slide swiper-slide">
              <picture>
                <source srcset="img/product.webp 1x, img/product@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product.jpg" srcset="img/product.jpg 1x, img/product@2x.jpg 2x" width="400"
                  height="394" alt="">
              </picture>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="product__thumbs swiper">
          <div class="swiper-wrapper">
            <div class="product__thumbs-slide swiper-slide">
              <picture>
                <source srcset="img/product-thumb-1.webp 1x, img/product-thumb-1@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product-thumb-1.jpg"
                  srcset="img/product-thumb-1.jpg 1x, img/product-thumb-1@2x.jpg 2x" width="120" height="120"
                  alt="thumb">
              </picture>
            </div>
            <div class="product__thumbs-slide swiper-slide">
              <picture>
                <source srcset="img/product-thumb-2.webp 1x, img/product-thumb-2@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product-thumb-2.jpg"
                  srcset="img/product-thumb-2.jpg 1x, img/product-thumb-2@2x.jpg 2x" width="120" height="120"
                  alt="thumb">
              </picture>
            </div>
            <div class="product__thumbs-slide swiper-slide">
              <picture>
                <source srcset="img/product-thumb-3.webp 1x, img/product-thumb-3@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product-thumb-3.jpg"
                  srcset="img/product-thumb-3.jpg 1x, img/product-thumb-3@2x.jpg 2x" width="120" height="120"
                  alt="thumb">
              </picture>
            </div>
            <div class="product__thumbs-slide swiper-slide">
              <picture>
                <source srcset="img/product-thumb-1.webp 1x, img/product-thumb-1@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product-thumb-1.jpg"
                  srcset="img/product-thumb-1.jpg 1x, img/product-thumb-1@2x.jpg 2x" width="120" height="120"
                  alt="thumb">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="product__content">
        <h1 class="product__title">MAX RICHTER — The New Four Seasons Vivaldi Recomposed (LP)</h1>
        <div class="product__timer product-timer" data-deadline="2023-06-26">
          <div class="product-timer__item">
            <div class="product-timer__num product-timer__days"></div>
          </div>
          <div class="product-timer__item">
            <div class="product-timer__num product-timer__hours"></div>
          </div>
          <div class="product-timer__item">
            <div class="product-timer__num product-timer__minutes"></div>
          </div>
          <div class="product-timer__item">
            <div class="product-timer__num product-timer__seconds"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
