<section class="product">
  <div class="container">
    <div class="product__inner">
      <div class="product__slider-wrapper">
        <div class="product__slider swiper">
          <div class="swiper-wrapper">
            <div class="product__slide swiper-slide">
              <picture>
                <source srcset="img/product.webp 1x, img/product@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product.jpg" srcset="img/product.jpg 1x, img/product@2x.jpg 2x" width="400"
                  height="394" alt="">
              </picture>
            </div>
            <div class="product__slide swiper-slide">
              <picture>
                <source srcset="img/product.webp 1x, img/product@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product.jpg" srcset="img/product.jpg 1x, img/product@2x.jpg 2x" width="400"
                  height="394" alt="">
              </picture>
            </div>
            <div class="product__slide swiper-slide">
              <picture>
                <source srcset="img/product.webp 1x, img/product@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product.jpg" srcset="img/product.jpg 1x, img/product@2x.jpg 2x" width="400"
                  height="394" alt="">
              </picture>
            </div>
            <div class="product__slide swiper-slide">
              <picture>
                <source srcset="img/product.webp 1x, img/product@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product.jpg" srcset="img/product.jpg 1x, img/product@2x.jpg 2x" width="400"
                  height="394" alt="">
              </picture>
            </div>
          </div>
          <div class="slider-button-prev"></div>
          <div class="slider-button-next"></div>
          <div class="slider-pagination"></div>
        </div>
        <div class="product__thumbs swiper">
          <div class="swiper-wrapper">
            <div class="product__thumbs-slide swiper-slide">
              <picture>
                <source srcset="img/product-thumb-1.webp 1x, img/product-thumb-1@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product-thumb-1.jpg"
                  srcset="img/product-thumb-1.jpg 1x, img/product-thumb-1@2x.jpg 2x" width="120" height="120"
                  alt="thumb">
              </picture>
            </div>
            <div class="product__thumbs-slide swiper-slide">
              <picture>
                <source srcset="img/product-thumb-2.webp 1x, img/product-thumb-2@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product-thumb-2.jpg"
                  srcset="img/product-thumb-2.jpg 1x, img/product-thumb-2@2x.jpg 2x" width="120" height="120"
                  alt="thumb">
              </picture>
            </div>
            <div class="product__thumbs-slide swiper-slide">
              <picture>
                <source srcset="img/product-thumb-3.webp 1x, img/product-thumb-3@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product-thumb-3.jpg"
                  srcset="img/product-thumb-3.jpg 1x, img/product-thumb-3@2x.jpg 2x" width="120" height="120"
                  alt="thumb">
              </picture>
            </div>
            <div class="product__thumbs-slide swiper-slide">
              <picture>
                <source srcset="img/product-thumb-1.webp 1x, img/product-thumb-1@2x.webp 2x" type="image/webp">
                <img loading="lazy" src="img/product-thumb-1.jpg"
                  srcset="img/product-thumb-1.jpg 1x, img/product-thumb-1@2x.jpg 2x" width="120" height="120"
                  alt="thumb">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="product__content">
        <div class="product__head">
          <h1 class="product__title">MAX RICHTER — The New Four Seasons Vivaldi Recomposed (LP)</h1>
          <button class="product__head-icon"><i class="icon-wishlist"></i></button>
        </div>
        <div class="product__auction product-auction">
          <div class="product-auction__top">
            <div class="product-auction__price">Текущая ставка <span>₽ 1 980</span></div>
            <div class="product__timer product-timer" data-deadline="2023-06-26">
              <div class="product-timer__caption">До окончания ставок</div>
              <div class="product-timer__items">
                <div class="product-timer__item">
                  <div class="product-timer__num product-timer__days" data-title="Дней">00</div>
                </div>
                <div class="product-timer__item">
                  <div class="product-timer__num product-timer__hours" data-title="Часов">00</div>
                </div>
                <div class="product-timer__item">
                  <div class="product-timer__num product-timer__minutes" data-title="Минут">00</div>
                </div>
                <div class="product-timer__item">
                  <div class="product-timer__num product-timer__seconds" data-title="Секунд">00</div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-auction__bottom">
            <div class="product-auction__bottom-items">
              <div class="product-auction__badge">
                <span>Выставлен</span>
                А38-45
              </div>
              <a class="product-auction__btn-buy btn-secondary btn-secondary--purple" href="#">Купить сейчас <span>₽ 263</span></a>
              <a class="product-auction__btn-bid btn-primary" href="#">Сделать ставку</a>
              <a class="product-auction__btn-autobid btn-green" href="#">Автобид <span>₽ 1</span></a>
            </div>
          </div>
        </div>
        <div class="product__info product-info">
          <div class="product-info__row">
            <div class="product-info__item is-active product-info__col">
              <div class="product-info__head">Свойства</div> 
              <div class="product-info__content">
                <div class="product-info__table">
                  <table>
                    <thead>
                      <tr>
                        <th>Артикул</th>
                        <td>197826806</td>
                      </tr>
                      <tr>
                        <th>Штрихкод</th>
                        <td>721762756317</td>
                      </tr>
                    </thead>
                    <tr>
                      <th>Состояние</th>
                      <td>NEW</td>
                    </tr>
                    <tr>
                      <th>Производитель</th>
                      <td>Locoape</td>
                    </tr>
                    <tr>
                      <th>Персонаж</th>
                      <td>Vince Neil</td>
                    </tr>
                    <tr>
                      <th>Год выпуска</th>
                      <td>2016</td>
                    </tr>
                    <tr>
                      <th>Страна производства</th>
                      <td>Китай</td>
                    </tr>
                    <tr>
                      <th>Упаковка</th>
                      <td>Carton Box</td>
                    </tr>
                    <tr>
                      <th>Материал</th>
                      <td>Искусственный камень</td>
                    </tr>
                    <tr>
                      <th>Высота (см)</th>
                      <td>23</td>
                    </tr>
                    <tr>
                      <th>Коллекция</th>
                      <td>Motley Crue</td>
                    </tr>
                    <tr>
                      <th>Масштаб</th>
                      <td>1:10</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="product-info__item is-active product-info__col">
              <div class="product-info__head">История</div> 
              <div class="product-info__content">
                <ul class="product-info__history product-history">
                  <li class="product-history__item">
                    <a class="product-history__link" href="#">
                      <div class="product-history__img product-history__img--top">
                        <picture>
                          <source srcset="img/history-1.webp 1x, img/history-1@2x.webp 2x" type="image/webp">
                          <img loading="lazy" src="img/history-1.jpg"
                            srcset="img/history-1.jpg 1x, img/history-1@2x.jpg 2x" width="50" height="50"
                            alt="">
                        </picture>
                      </div>
                      <div class="product-history__info">
                        <div class="product-history__name">Богодар Бабенко</div>
                        <div class="product-history__footer">
                          <div class="product-history__footer-value">05.10</div>
                          <div class="product-history__footer-value">₽ 1 543</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="product-history__item">
                    <a class="product-history__link" href="#">
                      <div class="product-history__img">
                        <picture>
                          <source srcset="img/history-2.webp 1x, img/history-2@2x.webp 2x" type="image/webp">
                          <img loading="lazy" src="img/history-2.jpg"
                            srcset="img/history-2.jpg 1x, img/history-2@2x.jpg 2x" width="50" height="50"
                            alt="">
                        </picture>
                      </div>
                      <div class="product-history__info">
                        <div class="product-history__name">Мессалина Остерман</div>
                        <div class="product-history__footer">
                          <div class="product-history__footer-value">05.10</div>
                          <div class="product-history__footer-value">₽ 1 525</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="product-history__item">
                    <a class="product-history__link" href="#">
                      <div class="product-history__img">
                        <picture>
                          <source srcset="img/history-3.webp 1x, img/history-3@2x.webp 2x" type="image/webp">
                          <img loading="lazy" src="img/history-3.jpg"
                            srcset="img/history-3.jpg 1x, img/history-3@2x.jpg 2x" width="50" height="50"
                            alt="">
                        </picture>
                      </div>
                      <div class="product-history__info">
                        <div class="product-history__name">Порция Броун</div>
                        <div class="product-history__footer">
                          <div class="product-history__footer-value">04.10</div>
                          <div class="product-history__footer-value">₽ 1 320</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="product-history__item">
                    <a class="product-history__link" href="#">
                      <div class="product-history__img">
                        <picture>
                          <source srcset="img/history-4.webp 1x, img/history-4@2x.webp 2x" type="image/webp">
                          <img loading="lazy" src="img/history-4.jpg"
                            srcset="img/history-4.jpg 1x, img/history-4@2x.jpg 2x" width="50" height="50"
                            alt="">
                        </picture>
                      </div>
                      <div class="product-history__info">
                        <div class="product-history__name">Помпей Лобачевский</div>
                        <div class="product-history__footer">
                          <div class="product-history__footer-value">04.10</div>
                          <div class="product-history__footer-value">₽ 1 008</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="product-history__item">
                    <a class="product-history__link" href="#">
                      <div class="product-history__img">
                        <picture>
                          <source srcset="img/history-5.webp 1x, img/history-5@2x.webp 2x" type="image/webp">
                          <img loading="lazy" src="img/history-5.jpg"
                            srcset="img/history-5.jpg 1x, img/history-5@2x.jpg 2x" width="50" height="50"
                            alt="">
                        </picture>
                      </div>
                      <div class="product-history__info">
                        <div class="product-history__name">Добрыня Черепанов</div>
                        <div class="product-history__footer">
                          <div class="product-history__footer-value">03.10</div>
                          <div class="product-history__footer-value">₽ 940</div>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="product-history__item">
                    <a class="product-history__link" href="#">
                      <div class="product-history__img">
                        <picture>
                          <source srcset="img/history-6.webp 1x, img/history-6@2x.webp 2x" type="image/webp">
                          <img loading="lazy" src="img/history-6.jpg"
                            srcset="img/history-6.jpg 1x, img/history-6@2x.jpg 2x" width="50" height="50"
                            alt="">
                        </picture>
                      </div>
                      <div class="product-history__info">
                        <div class="product-history__name">Akina Sakata</div>
                        <div class="product-history__footer">
                          <div class="product-history__footer-value">03.10</div>
                          <div class="product-history__footer-value">₽ 915</div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="product-info__item is-active">
            <div class="product-info__head">Описание</div>
            <div class="product-info__content">
              <div class="product-info__text">
                <p>The New Four Seasons Vivaldi Recomposed" - альбом композитора и музыканта Макса Рихтера, который представляет собой новую переработанную версию его альбома 2012 года "Recomposed by Max Richter: 
                  Vivaldi – The Four Seasons", написанного на основе классического произведения композитора XVII века Антонио Вивальди "Четыре Времени года". Спустя десять лет, Макс Ритер вернулся в звуковой мир Вивальди, 
                  но для новой интерпретации привлёк американскую скрипачку Елену Уриосте и британский оркестр 
                  Chineke! Orchestra.</p>
                <p>В новой версии "Времён года" Макс Рихтер использовал партитуры для старинных инструментов, современные струнные и "винтажные синтезаторы". По словам музыканта, звучание нового альбома получилось "более жёсткое, близкое к панк-року", музыка Вивальди на его новом альбоме "похожа 
                  на фейерверк".</p>
              </div>
            </div>
          </div>
          <div class="product-info__item is-active">
            <div class="product-info__head">Трек-лист</div>
            <div class="product-info__content">
              <div class="product-info__tracks product-tracks">
                <div class="product-tracks__col">
                  <div class="product-tracks__title">LP1:</div>
                  <ul>
                    <li>A1. Human</li>
                    <li>A2. Innocent Man</li>
                    <li>A3. Skin</li>
                    <li>A4. Bitter End</li>
                    <li>A5. Be The Man</li>
                    <li>B1. Love You Less</li>
                    <li>B2. Odetta</li>
                    <li>B3. Grace</li>
                    <li>B4. Ego</li>
                    <li>B5. Arrow</li>
                  </ul>
                </div>
                <div class="product-tracks__col">
                  <div class="product-tracks__title">LP2:</div>
                  <ul>
                    <li>C1. As You Are</li>
                    <li>C2. Die Easy</li>
                    <li>C3. The Fire</li>
                    <li>C4. Fade To Nothing</li>
                    <li>C5. Life In Her Yet</li>
                    <li>D1. Your Way Or The Rope</li>
                    <li>D2. Lay My Body Down</li>
                    <li>D3. Wolves</li>
                    <li>D4. Healed</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="product-info__item is-active">
            <div class="product-info__head">Видео</div>
            <div class="product-info__content">
              <a class="product-info__video" href="https://youtu.be/KSav7HayxtI" data-fslightbox>
                <picture>
                  <source srcset="img/video-poster.webp 1x, img/video-poster@2x.webp 2x" type="image/webp">
                  <img loading="lazy" src="img/video-poster.jpg"
                    srcset="img/video-poster.jpg 1x, img/video-poster@2x.jpg 2x" width="820" height="410"
                    alt="video">
                </picture>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
