<section class="promos">
  <div class="container">
    <div class="promos__inner">
      <div class="promos__head">
        <h3 class="promos__title title">Акции</h3>
        <a class="promos__btn btn-secondary btn-secondary--arrow" href="#">Смотреть еще</a>
      </div>
    </div>
    <ul class="promos__list">
      <li class="promo-card">
        <div class="promo-card__tag">Действует</div>
        <a class="promo-card__img" href="#">
          <picture>
            <source srcset="img/promos-1.webp 1x, img/promos-1@2x.webp 2x" type="image/webp">
            <img loading="lazy" src="img/promos-1.jpg" srcset="img/promos-1.jpg 1x, img/promos-1@2x.jpg 2x" width="625"
              height="300" alt="">
          </picture>
        </a>
        <h6 class="promo-card__title"><a href="#">Out Of Print Sale: Распродажа раритетных изданий</a></h6>
        <div class="promo-card__subtitle">Ликвидация склада винила: <b>Скидки до 25%</b></div>
        <div class="promo-card__footer">
          <time class="promo-card__date">07.04.2023</time>
          <a class="btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
        </div>
      </li>
      <li class="promo-card">
        <div class="promo-card__tag promo-card__tag--grey">Закончилась</div>
        <a class="promo-card__img promo-card__img--completed" href="#">
          <picture>
            <source srcset="img/promos-2.webp 1x, img/promos-2@2x.webp 2x" type="image/webp">
            <img loading="lazy" src="img/promos-2.jpg" srcset="img/promos-2.jpg 1x, img/promos-2@2x.jpg 2x" width="625"
              height="300" alt="">
          </picture>
        </a>
        <h6 class="promo-card__title"><a href="#">Ликвидация склада винила: Скидки от 20% до 30%!</a></h6>
        <div class="promo-card__subtitle">Ликвидация склада винила: <b>Скидки от 20% до 30%</b></div>
        <div class="promo-card__footer">
          <time class="promo-card__date">22.03.2023</time>
          <a class="btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
        </div>
      </li>
    </ul>
    <div class="promos__btn-wrapper">
      <a class="promos__btn-mobile btn-secondary btn-secondary--arrow" href="#">Показать еще</a>
    </div>
  </div>
</section>
