<section class="promo">
  <div class="container">
    <div class="promo__inner">
      <h1 class="promo__title page-title">Акции</h1>
      <ul class="promo__list">
        <li class="promo__item promo-card">
          <div class="promo-card__img">
            <img src="img/promo-1.jpg" width="600" height="250" alt="">
          </div>
          <div class="promo-card__info">
            <div class="promo-card__title">Рыночный баинг и селлинг: основные моменты</div>
            <div class="promo-card__text">
              <p>Бизнес-модель, пренебрегая деталями, изоморфна времени. Клиентский спрос, безусловно, регулярно индуцирует социометрический медиавес. Отсюда естественно следует, что стимулирование коммьюнити спонтанно концентрирует сублимированный диктат потребителя....</p>
            </div>
            <div class="promo-card__footer">
              <time class="promo-card__date">17.08.2022</time>
              <a class="promo-card__btn btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="promo__item promo-card">
          <div class="promo-card__img">
            <img src="img/promo-2.jpg" width="600" height="250" alt="">
          </div>
          <div class="promo-card__info">
            <div class="promo-card__title">Стратегический формат события: предпосылки и развитие</div>
            <div class="promo-card__text">
              <p>Не факт, что повышение жизненных стандартов охватывает медийный канал. Начальная стадия проведения исследования, вопреки мнению П.Друкера, искажает диктат потребителя...</p>
            </div>
            <div class="promo-card__footer">
              <time class="promo-card__date">13.08.2022</time>
              <a class="promo-card__btn btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="promo__item promo-card">
          <div class="promo-card__img">
            <img src="img/promo-3.jpg" width="600" height="250" alt="">
          </div>
          <div class="promo-card__info">
            <div class="promo-card__title">Рыночный баинг и селлинг: основные моменты</div>
            <div class="promo-card__text">
              <p>Анализ рыночных цен синхронизирует ребрендинг. Презентационный материал абстрактен...</p>
            </div>
            <div class="promo-card__footer">
              <time class="promo-card__date">05.08.2022</time>
              <a class="promo-card__btn btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="promo__item promo-card">
          <div class="promo-card__img">
            <img src="img/promo-4.jpg" width="600" height="250" alt="">
          </div>
          <div class="promo-card__info">
            <div class="promo-card__title">Рыночный баинг и селлинг: основные моменты</div>
            <div class="promo-card__text">
              <p>Анализ рыночных цен синхронизирует ребрендинг. Презентационный материал абстрактен...</p>
            </div>
            <div class="promo-card__footer">
              <time class="promo-card__date">17.08.2022</time>
              <a class="promo-card__btn btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
            </div>
          </div>
        </li>
        <li class="promo__item promo-card">
          <div class="promo-card__img">
            <img src="img/promo-2.jpg" width="600" height="250" alt="">
          </div>
          <div class="promo-card__info">
            <div class="promo-card__title">Фокусировка как социальная ответственность</div>
            <div class="promo-card__text">
              <p>Такое понимание ситуации восходит к Эл Райс, при этом стимулирование коммьюнити упорядочивает conversion rate, размещаясь во всех медиа. Фактор коммуникации нейтрализует системный анализ...</p>
            </div>
            <div class="promo-card__footer">
              <time class="promo-card__date">17.08.2022</time>
              <a class="promo-card__btn btn-secondary btn-secondary--purple btn-secondary--arrow" href="#">Подробнее</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="promo__btn-wrapper">
      <a class="promo__btn btn-secondary" href="#">Показать еще</a>
    </div>
    {% include "../common/pagination.njk" %}
  </div>
</section>
