<section class="schedule">
  <div class="container">
    <div class="schedule__inner">
      <h1 class="schedule__title page-title">Расписание аукционов</h1>
      <div class="schedule__box">
        <div class="schedule__subtitle">Новые аукционы</div>
        <ul class="schedule__list">
          <li class="schedule__item auction-item">
            <div class="auction-item__title"><a href="#">Аукцион №40 - виниловые пластинки XX-XXI веков</a></div>
            <div class="auction-item__footer">
              <div class="auction-item__date">20/03/2023 - 05/04/2023</div>
              <a class="auction-item__btn btn-secondary btn-secondary--purple btn-secondary--arrow"
                href="#">Подробнее</a>
            </div>
          </li>
          <li class="schedule__item auction-item">
            <div class="auction-item__title"><a href="#">Аукцион №39 - редкие и коллекционные виниловые пластинки</a></div>
            <div class="auction-item__footer">
              <div class="auction-item__date">20/03/2023 - 05/04/2023</div>
              <a class="auction-item__btn btn-secondary btn-secondary--purple btn-secondary--arrow"
                href="#">Подробнее</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="schedule__box">
        <div class="schedule__subtitle">Прошедшие аукционы</div>
        <ul class="schedule__list">
          <li class="schedule__item auction-item">
            <div class="auction-item__title"><a href="#">Аукцион №38 - виниловые пластинки XX-XXI веков</a></div>
            <div class="auction-item__footer">
              <div class="auction-item__date">20/03/2023 - 05/04/2023</div>
              <a class="auction-item__btn btn-secondary btn-secondary--purple btn-secondary--arrow"
                href="#">Подробнее</a>
            </div>
          </li>
          <li class="schedule__item auction-item">
            <div class="auction-item__title"><a href="#">Аукцион №37 - редкие и коллекционные виниловые пластинки</a></div>
            <div class="auction-item__footer">
              <div class="auction-item__date">20/03/2023 - 05/04/2023</div>
              <a class="auction-item__btn btn-secondary btn-secondary--purple btn-secondary--arrow"
                href="#">Подробнее</a>
            </div>
          </li>
          <li class="schedule__item auction-item">
            <div class="auction-item__title"><a href="#">Аукцион №36 - редкие и коллекционные виниловые пластинки</a></div>
            <div class="auction-item__footer">
              <div class="auction-item__date">20/03/2023 - 05/04/2023</div>
              <a class="auction-item__btn btn-secondary btn-secondary--purple btn-secondary--arrow"
                href="#">Подробнее</a>
            </div>
          </li>
          <li class="schedule__item auction-item">
            <div class="auction-item__title"><a href="#">Аукцион №35 - редкие и коллекционные виниловые пластинки</a></div>
            <div class="auction-item__footer">
              <div class="auction-item__date">20/03/2023 - 05/04/2023</div>
              <a class="auction-item__btn btn-secondary btn-secondary--purple btn-secondary--arrow"
                href="#">Подробнее</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="schedule__btn-wrapper">
      <a class="schedule__btn btn-secondary" href="#">Показать еще</a>
    </div>
    {% include "../common/pagination.njk" %}

  </div>
</section>
