<section class="search-filter">
  <div class="container">
    <div class="search-filter__inner">
      <h1 class="search-filter__title title-lg">Регистрируйся и&nbsp;участвуй в&nbsp;аукционе</h1>
      <form class="search-filter__form" action="#">
        <div class="search-filter__header">
          <div class="search-filter__field">
            <input class="search-filter__input" type="search" placeholder="Название лота...">
            <button class="search-filter__btn btn-green">Найти</button>
          </div>
          <div class="search-filter__top-row">
            <button class="search-filter__el" type="button">
              <div class="search-filter__el-icon">
                <span>1</span>
              </div>
              <div class="search-filter__el-caption">Фильтр</div>
            </button>
            <div class="search-filter__controls">
              <div class="search-filter__control">
                <span>Сортировать</span>
                <div class="choices-select choices-select--icons">
                  <select>
                    <option value="1" selected>по дате</option>
                    <option value="2">по дате</option>
                    <option value="3">по рейтингу</option>
                    <option value="4">по дате</option>
                    <option value="5">по рейтингу</option>
                    <option value="6">по дате</option>
                  </select>
                </div>
              </div>
              <div class="search-filter__control">
                <span>Отображать по</span>
                <div class="choices-select choices-select--right">
                  <select>
                    <option value="1" selected>10</option>
                    <option value="2">20</option>
                    <option value="3">30</option>
                    <option value="4">40</option>
                    <option value="5">50</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="search-filter__bottom-row">
            <div class="search-filter__control search-filter__control--category">
              <span>Категория</span>
              <div class="choices-select choices-select--accordion">
                <select>
                  <option value="1" selected>Книги</option>
                  <option value="2">Виниловые пластинки</option>
                  <option value="3">Винтажный винил</option>
                  <option value="4">Компакт-диск</option>
                  <option value="5">Музыкальное видео</option>
                  <option value="6">Музыкальные сувениры</option>
                  <option value="7">Музыкальный мерч</option>
                </select>
              </div>
            </div>
            <div class="search-filter__bottom-row-items">
              <label class="search-filter__checkbox form-checkbox">
                <input type="checkbox">
                <span class="form-checkbox__box"></span>
                <span class="form-checkbox__text">Показывать закрытые лоты</span>
              </label>
              <button class="search-filter__btn-reset" type="reset">Сбросить</button>
              <button
                class="search-filter__btn-show btn-secondary btn-secondary--white btn-secondary--thin">Показать</button>
            </div>
          </div>
        </div>
        <div class="search-filter__body">
          <ul class="search-filter__list">
            <li class="filter-item">
              <div class="filter-item__name">Автор</div>
              <div class="choices-select choices-select--tab">
                <select>
                  <option value="" selected disabled>Не выбран</option>
                  <option value="1">Автор 1</option>
                  <option value="2">Автор 2</option>
                  <option value="3">Автор 3</option>
                  <option value="4">Автор 4</option>
                </select>
              </div>
            </li>
            <li class="filter-item">
              <div class="filter-item__name">Название</div>
              <div class="choices-select choices-select--tab">
                <select>
                  <option value="" selected disabled>Не выбран</option>
                  <option value="1"> 1</option>
                  <option value="2"> 2</option>
                  <option value="3"> 3</option>
                  <option value="4"> 4</option>
                </select>
              </div>
            </li>
            <li class="filter-item">
              <div class="filter-item__name">Формат</div>
              <div class="choices-select choices-select--tab">
                <select>
                  <option value="" selected disabled>Не выбран</option>
                  <option value="1"> 1</option>
                  <option value="2"> 2</option>
                  <option value="3"> 3</option>
                  <option value="4"> 4</option>
                </select>
              </div>
            </li>
            <li class="filter-item">
              <div class="filter-item__name">Издательство</div>
              <div class="choices-select choices-select--tab">
                <select>
                  <option value="" selected disabled>Не выбран</option>
                  <option value="1"> 1</option>
                  <option value="2"> 2</option>
                  <option value="3"> 3</option>
                  <option value="4"> 4</option>
                </select>
              </div>
            </li>
            <li class="filter-item">
              <div class="filter-item__name">Год выпуска</div>
              <div class="choices-select choices-select--tab">
                <select>
                  <option value="" selected disabled>Не выбран</option>
                  <option value="1"> 1</option>
                  <option value="2"> 2</option>
                  <option value="3"> 3</option>
                  <option value="4"> 4</option>
                </select>
              </div>
            </li>
            <li class="filter-item">
              <div class="filter-item__name">Страна издания</div>
              <div class="choices-select choices-select--tab">
                <select>
                  <option value="" selected disabled>Не выбран</option>
                  <option value="1"> 1</option>
                  <option value="2"> 2</option>
                  <option value="3"> 3</option>
                  <option value="4"> 4</option>
                </select>
              </div>
            </li>
            <li class="filter-item">
              <div class="filter-item__name">Язык издания</div>
              <div class="choices-select choices-select--tab">
                <select>
                  <option value="" selected disabled>Не выбран</option>
                  <option value="1"> 1</option>
                  <option value="2"> 2</option>
                  <option value="3"> 3</option>
                  <option value="4"> 4</option>
                </select>
              </div>
            </li>
            <li class="filter-item">
              <div class="filter-item__name">Состояние</div>
              <div class="choices-select choices-select--tab">
                <select>
                  <option value="" selected disabled>Не выбран</option>
                  <option value="1"> 1</option>
                  <option value="2"> 2</option>
                  <option value="3"> 3</option>
                  <option value="4"> 4</option>
                </select>
              </div>
            </li>
            <li class="filter-item">
              <div class="filter-item__name">Жанр</div>
              <div class="choices-select choices-select--tab">
                <select>
                  <option value="" selected disabled>Не выбран</option>
                  <option value="1"> 1</option>
                  <option value="2"> 2</option>
                  <option value="3"> 3</option>
                  <option value="4"> 4</option>
                </select>
              </div>
            </li>
            <li class="filter-item">
              <div class="filter-item__name">Особенности</div>
              <div class="choices-select choices-select--tab">
                <select>
                  <option value="" selected disabled>Не выбран</option>
                  <option value="1"> 1</option>
                  <option value="2"> 2</option>
                  <option value="3"> 3</option>
                  <option value="4"> 4</option>
                </select>
              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</section>
