<section class="terms">
  <div class="container">
    <div class="terms__inner">
      <h1 class="terms__title page-title">Оплата и доставка</h1>
      <div class="terms-tabs">
        <ul>
          <li class="is-active" role="button" tabindex="0" data-tabs="1">Как работает аукцион</li>
          <li role="button" tabindex="0" data-tabs="2">Способы оплаты</li>
          <li role="button" tabindex="0" data-tabs="3">Способы доставки</li>
        </ul>
      </div>
      <div class="terms-content">
        <div class="terms-content__item is-active" data-tabs="1">
          <h3 class="terms-content__title terms-content__title--center">Как работает аукцион</h3>
          <ol class="how-list">
            <li class="how-list__item">
              <div class="how-list__icon">
                <img src="img/how-icon-1.svg" width="100" height="100" alt="how works icon">
              </div>
              <div class="how-list__name">Регистрируйся</div>
              <div class="how-list__text">
                <p>Для того чтобы принять участие
                  в&nbsp;аукционе Вам необходимо зарегистрироваться</p>
              </div>
            </li>
            <li class="how-list__item">
              <div class="how-list__icon">
                <img src="img/how-icon-2.svg" width="100" height="100" alt="how works icon">
              </div>
              <div class="how-list__name">Делай ставку</div>
              <div class="how-list__text">
                <p>Вы можете сделать ставку
                  на&nbsp;минимальный шаг или поставить автоматическую ставку (Автобид)</p>
              </div>
            </li>
            <li class="how-list__item">
              <div class="how-list__icon">
                <img src="img/how-icon-3.svg" width="100" height="100" alt="how works icon">
              </div>
              <div class="how-list__name">Выигрывай</div>
              <div class="how-list__text">
                <p>После завершения аукицона,
                  вы&nbsp;будете признаны победителем, если ваша ставка последняя</p>
              </div>
            </li>
            <li class="how-list__item">
              <div class="how-list__icon">
                <img src="img/how-icon-4.svg" width="100" height="100" alt="how works icon">
              </div>
              <div class="how-list__name">Забирай</div>
              <div class="how-list__text">
                <p>После выигрыша надо оформить заказ и указать каким образом
                  Вы&nbsp;хотите получить и оплатить лот</p>
              </div>
            </li>
          </ol>
        </div>
        <div class="terms-content__item" data-tabs="2">
          <h3 class="terms-content__title">Способы оплаты</h3>
          <div class="terms-content__text">
            <p>Комиссионное вознаграждение Организатора аукциона составляет 10% от достигнутой в ходе торгов цены и
              добавляется к стоимости лота</p>
            <p>Для оплаты лотов отводится 14 календарных дней. В случае неуплаты лот переходит другому участнику</p>
            <p>Можно не дожидаясь окончания аукциона купить лот по блиц цене</p>
          </div>
          <div class="payment">
            <div class="payment__title">Оплата производится одним из указанных способов</div>
            <ul class="payment__list accordion">
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">Наличными в офисе</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">Наличными курьеру при получении</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">Банковской картой на сайте</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">Банковской картой курьеру при получении</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">Банковским переводом</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">СБП</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">Другие способы оплаты</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
            </ul>
            <div class="payment__caption">Мы принимаем платежи с сайта по следующим банковским картам</div>
            <ul class="payment__partners">
              <li>
                <picture>
                  <source srcset="img/payment-1.webp 1x, img/payment-1@2x.webp 2x" type="image/webp">
                  <img loading="lazy" src="img/payment-1.png" srcset="img/payment-1.png 1x, img/payment-1@2x.png 2x"
                    width="100" height="33" alt="способ оплаты Visa">
                </picture>
              </li>
              <li>
                <picture>
                  <source srcset="img/payment-2.webp 1x, img/payment-2@2x.webp 2x" type="image/webp">
                  <img loading="lazy" src="img/payment-2.png" srcset="img/payment-2.png 1x, img/payment-2@2x.png 2x"
                    width="100" height="78" alt="способ оплаты Mastercard">
                </picture>
              </li>
              <li>
                <picture>
                  <source srcset="img/payment-3.webp 1x, img/payment-3@2x.webp 2x" type="image/webp">
                  <img loading="lazy" src="img/payment-3.png" srcset="img/payment-3.png 1x, img/payment-3@2x.png 2x"
                    width="100" height="33" alt="способ оплаты Мир">
                </picture>
              </li>
            </ul>
          </div>
        </div>
        <div class="terms-content__item" data-tabs="3">
          <h3 class="terms-content__title">Способы доставки</h3>
          <div class="terms-content__text">
            <p>Доставка выигранных лотов осуществляется следующими способами</p>
          </div>
          <div class="delivery">
            <ul class="delivery__list accordion">
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">Самовывоз</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">Курьером по Москве и МО</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">СДЭК</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">Пикпоинт</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">Почта РФ</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
              <li class="accordion__item">
                <div class="accordion__head" role="button" tabindex="0">EMS</div>
                <div class="accordion__content">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro explicabo saepe, cupiditate
                    similique
                    omnis officia quisquam maxime voluptate, officiis, quae enim? Adipisci eligendi consectetur, sed
                    error
                    ad nesciunt vero consequatur?</p>
                </div>
              </li>
            </ul>
            <div class="delivery__caption">Доставка осуществляется только в пределах Российской Федерации</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
