<ul>
  <li class="nav__home"><a href="#">Главная</a></li>
  <li><a href="#">Аукцион</a></li>
  <li><a href="#">Новости</a></li>
  <li><a href="#">Акции</a></li>
  <li><a href="#">Купить</a></li>
  <li><a href="#">Продать</a></li>
  <li><a href="#">Оплата и Доставка</a></li>
  <li><a href="#">Контакты</a></li>
  <li><a href="#">Отзывы</a></li>
</ul>
