<div class="pagination">
  <ul>
    <li class="pagination__arrow pagination__arrow--prev""><a href=" #"></a></li>
    <li class="pagination__item"><a href="#">1</a></li>
    <li class="pagination__item"><a href="#">2</a></li>
    <li class="pagination__item"><a href="#">3</a></li>
    <li class="pagination__item"><a href="#">4</a></li>
    <li class="pagination__arrow pagination__arrow--next"><a href="#"></a></li>
  </ul>

</div>
