<div class="profile__header profile-header">
  <div class="profile-header__bg">
    <button class="profile-header__bg-edit"></button>
  </div>
  <div class="profile-header__content">
    <div class="profile-header__img">
      <img src="img/profile-avatar.png" width="140" height="140" alt="изображение профиля">
      <div class="profile-header__img-edit"></div>
    </div>
    <div class="profile-header__info">
      <div class="profile-header__name">Иван Иванов <span>на сайте с 20.09.2022</span></div>
      <div class="profile-header__title">Мой профиль</div>
    </div>
    <div class="profile-header__more">
      <button class="profile-header__more-btn"></button>
      <ul>
        <li><a href="./profile-saler.html">Войти как продавец</a></li>
        <li><a href="#">Выйти</a></li>
      </ul>
    </div>
  </div>
</div>
