<ul class="socials">
  <li><a href="#"><img src="img/twitter-icon.svg" width="26" height="26" alt="иконка twitter"></a></li>
  <li><a href="#"><img src="img/vk-icon.svg" width="26" height="26" alt="иконка вконтакте"></a></li>
  <li><a href="#"><img src="img/fb-icon.svg" width="26" height="26" alt="иконка facebook"></a></li>
  <li><a href="#"><img src="img/ok-icon.svg" width="26" height="26" alt="икона одноклассники"></a></li>
  <li><a href="#"><img src="img/insta-icon.svg" width="26" height="26" alt="иконка instagram"></a></li>
</ul>
