<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <section class="error">
    <div class="container">
      <div class="error__inner">
        <div class="error__img">
          <img src="img/404.png" width="692" height="281" alt="ошибка 404">
        </div>
        <div class="error__text">Кажется что-то пошло не так! Страница, которую вы запрашиваете, не существует. Возможно
          она устарела, була удалена, или был введен неверный адрес в адресной строке.</div>
        <a class="error__btn btn-primary-dark" href="./">Перейти к аукционам</a>
      </div>
    </div>
  </section>
</body>

</html>
