{% extends "../templates/layouts/layout.njk" %}

{% block content %}
<div class="breadcrumbs">
  <div class="container">
    <ul>
      <li><a href="#">Главная страница</a></li>
      <li><a href="#">Избранное</a></li>
    </ul>
  </div>
</div>
<section class="favorites">
  <div class="container">
    <div class="favorites__inner">
      <h1 class="favorites__title page-title">Избранное</h1>
    </div>
  </div>
</section>
{% include "../templates/sections/catalog-tabs.njk" %}
{% endblock content %}
