{% extends "../templates/layouts/layout.njk" %}

{% block content %}
<div class="breadcrumbs">
  <div class="container">
    <ul>
      <li><a href="#">Главная страница</a></li>
      <li><a href="#">Расписание аукционов</a></li>
      <li><a href="#">Аукцион №38 - редкие монеты периода Х-ХI веков</a></li>
    </ul>
  </div>
</div>
<section class="history">
  <div class="container">
    <div class="history__inner">
      <div class="history__body profile-body">
        <div class="history__head">
          <h1 class="history__title page-title">Аукцион №38 - виниловые пластинки XX-XXI веков</h1>
          <div class="history__caption">100 лотов</div>
        </div>
        <div class="history__search">
          <button class="history__search-btn"></button>
          <input type="search" class="history__search-input form-input" placeholder="Поиск по аукциону">
        </div>
        <div class="profile-body__content">
          <div class="profile-body__table hide-more-4-mobile">
            <table>
              <thead>
                <tr>
                  <th class="profile-body__table-num">№</th>
                  <th class="profile-body__table-heading">Лот</th>
                  <th class="profile-body__table-leader">Лидер</th>
                  <th class="profile-body__table-price">Цена</th>
                  <th class="profile-body__table-status">Статус</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="profile-body__table-num" data-text="№">1</td>
                  <td class="profile-body__table-heading">
                    <div class="profile-body__table-row">
                      <div class="profile-body__table-col">
                        <img width="50" height="50" src="img/profile-1.jpg" alt="фото">
                      </div>
                      <div class="profile-body__table-col">
                        Radiohead – Hail To The Thief
                      </div>
                    </div>
                  </td>
                  <td class="profile-body__table-leader" data-text="Лидер">
                    <div>Богодар Бабенко</div>
                  </td>
                  <td class="profile-body__table-price" data-text="Цена">
                    <div>9 000</div>
                  </td>
                  <td class="profile-body__table-status profile-body__table-status--sold" data-text="Статус">
                    <div>Продан <i class="icon-hint-grey"></i></div>
                  </td>
                </tr>
                <tr>
                  <td class="profile-body__table-num" data-text="№">2</td>
                  <td class="profile-body__table-heading">
                    <div class="profile-body__table-row">
                      <div class="profile-body__table-col">
                        <img width="50" height="50" src="img/profile-2.jpg" alt="фото">
                      </div>
                      <div class="profile-body__table-col">
                        Майлз Дэвис – Bitches Brew
                      </div>
                    </div>
                  </td>
                  <td class="profile-body__table-leader" data-text="Лидер">
                    <div>Мессалина Остерман</div>
                  </td>
                  <td class="profile-body__table-price" data-text="Цена">
                    <div>2 450</div>
                  </td>
                  <td class="profile-body__table-status" data-text="Статус">
                    <div>Не продан <i class="icon-hint-grey"></i></div>
                  </td>
                </tr>
                <tr>
                  <td class="profile-body__table-num" data-text="№">3</td>
                  <td class="profile-body__table-heading">
                    <div class="profile-body__table-row">
                      <div class="profile-body__table-col">
                        <img width="50" height="50" src="img/profile-3.jpg" alt="фото">
                      </div>
                      <div class="profile-body__table-col">
                        My Bloody Valentine – Loveless
                      </div>
                    </div>
                  </td>
                  <td class="profile-body__table-leader" data-text="Лидер">
                    <div>Порция Броун</div>
                  </td>
                  <td class="profile-body__table-price" data-text="Цена">
                    <div>3 500</div>
                  </td>
                  <td class="profile-body__table-status profile-body__table-status--sold" data-text="Статус">
                    <div>Продан <i class="icon-hint-grey"></i></div>
                  </td>
                </tr>
                <tr>
                  <td class="profile-body__table-num" data-text="№">4</td>
                  <td class="profile-body__table-heading">
                    <div class="profile-body__table-row">
                      <div class="profile-body__table-col">
                        <img width="50" height="50" src="img/profile-4.jpg" alt="фото">
                      </div>
                      <div class="profile-body__table-col">
                        Pink Floyd – Wish You Were Here
                      </div>
                    </div>
                  </td>
                  <td class="profile-body__table-leader" data-text="Лидер">
                    <div>Помпей Лобачевский</div>
                  </td>
                  <td class="profile-body__table-price" data-text="Цена">
                    <div>2 600</div>
                  </td>
                  <td class="profile-body__table-status" data-text="Статус">
                    <div>Не продан <i class="icon-hint-grey"></i></div>
                  </td>
                </tr>
                <tr>
                  <td class="profile-body__table-num" data-text="№">5</td>
                  <td class="profile-body__table-heading">
                    <div class="profile-body__table-row">
                      <div class="profile-body__table-col">
                        <img width="50" height="50" src="img/profile-5.jpg" alt="фото">
                      </div>
                      <div class="profile-body__table-col">
                        The Beatles – Abbey Road
                      </div>
                    </div>
                  </td>
                  <td class="profile-body__table-leader" data-text="Лидер">
                    <div>Добрыня Черепанов</div>
                  </td>
                  <td class="profile-body__table-price" data-text="Цена">
                    <div>3 700</div>
                  </td>
                  <td class="profile-body__table-status profile-body__table-status--sold" data-text="Статус">
                    <div>Продан <i class="icon-hint-grey"></i></div>
                  </td>
                </tr>
                <tr>
                  <td class="profile-body__table-num" data-text="№">6</td>
                  <td class="profile-body__table-heading">
                    <div class="profile-body__table-row">
                      <div class="profile-body__table-col">
                        <img width="50" height="50" src="img/profile-6.jpg" alt="фото">
                      </div>
                      <div class="profile-body__table-col">
                        Daft Punk – Random Access Memories
                      </div>
                    </div>
                  </td>
                  <td class="profile-body__table-leader" data-text="Лидер">
                    <div>Akina Sakata</div>
                  </td>
                  <td class="profile-body__table-price" data-text="Цена">
                    <div>4 980</div>
                  </td>
                  <td class="profile-body__table-status profile-body__table-status--sold" data-text="Статус">
                    <div>Продан <i class="icon-hint-grey"></i></div>
                  </td>
                </tr>
                <tr>
                  <td class="profile-body__table-num" data-text="№">7</td>
                  <td class="profile-body__table-heading">
                    <div class="profile-body__table-row">
                      <div class="profile-body__table-col">
                        <img width="50" height="50" src="img/profile-7.jpg" alt="фото">
                      </div>
                      <div class="profile-body__table-col">
                        R.E.M. – Automatic For The People
                      </div>
                    </div>
                  </td>
                  <td class="profile-body__table-leader" data-text="Лидер">
                    <div>Помпей Лобачевский</div>
                  </td>
                  <td class="profile-body__table-price" data-text="Цена">
                    <div>6 100</div>
                  </td>
                  <td class="profile-body__table-status profile-body__table-status--sold" data-text="Статус">
                    <div>Продан <i class="icon-hint-grey"></i></div>
                  </td>
                </tr>
                <tr>
                  <td class="profile-body__table-num" data-text="№">8</td>
                  <td class="profile-body__table-heading">
                    <div class="profile-body__table-row">
                      <div class="profile-body__table-col">
                        <img width="50" height="50" src="img/profile-8.jpg" alt="фото">
                      </div>
                      <div class="profile-body__table-col">
                        The Flaming Lips – The Soft Bulletin
                      </div>
                    </div>
                  </td>
                  <td class="profile-body__table-leader" data-text="Лидер">
                    <div>Добрыня Черепанов</div>
                  </td>
                  <td class="profile-body__table-price" data-text="Цена">
                    <div>3 150</div>
                  </td>
                  <td class="profile-body__table-status" data-text="Статус">
                    <div>Не продан <i class="icon-hint-grey"></i></div>
                  </td>
                </tr>
                <tr>
                  <td class="profile-body__table-num" data-text="№">9</td>
                  <td class="profile-body__table-heading">
                    <div class="profile-body__table-row">
                      <div class="profile-body__table-col">
                        <img width="50" height="50" src="img/profile-9.jpg" alt="фото">
                      </div>
                      <div class="profile-body__table-col">
                        Стиви Уандер – Innervisions
                      </div>
                    </div>
                  </td>
                  <td class="profile-body__table-leader" data-text="Лидер">
                    <div>Богодар Бабенко</div>
                  </td>
                  <td class="profile-body__table-price" data-text="Цена">
                    <div>9 000</div>
                  </td>
                  <td class="profile-body__table-status" data-text="Статус">
                    <div>Не продан <i class="icon-hint-grey"></i></div>
                  </td>
                </tr>
                <tr>
                  <td class="profile-body__table-num" data-text="№">10</td>
                  <td class="profile-body__table-heading">
                    <div class="profile-body__table-row">
                      <div class="profile-body__table-col">
                        <img width="50" height="50" src="img/profile-1.jpg" alt="фото">
                      </div>
                      <div class="profile-body__table-col">
                        Radiohead – Hail To The Thief
                      </div>
                    </div>
                  </td>
                  <td class="profile-body__table-leader" data-text="Лидер">
                    <div>Богодар Бабенко</div>
                  </td>
                  <td class="profile-body__table-price" data-text="Цена">
                    <div>9 000</div>
                  </td>
                  <td class="profile-body__table-status profile-body__table-status--sold" data-text="Статус">
                    <div>Продан <i class="icon-hint-grey"></i></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {% include "../templates/common/pagination.njk" %}
        <div class="profile-body__btn-wrapper">
          <a class="profile-body__btn btn-secondary" href="#">Показать еще</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
