{% extends "../templates/layouts/layout.njk" %}

{% block content %}
{% include "../templates/sections/categories.njk" %}
{% include "../templates/sections/search-filter.njk" %}
{% include "../templates/sections/catalog.njk" %}
{% include "../templates/sections/benefits.njk" %}
{% include "../templates/sections/completed.njk" %}
{% include "../templates/sections/how.njk" %}
{% include "../templates/sections/news.njk" %}
{% include "../templates/sections/promos.njk" %}
{% endblock content %}
