{% extends "../templates/layouts/layout.njk" %}

{% block content %}
<div class="breadcrumbs">
  <div class="container">
    <ul>
      <li><a href="#">Главная страница</a></li>
      <li><a href="#">Акции</a></li>
    </ul>
  </div>
</div>
{% include "../templates/sections/promo.njk" %}
{% endblock content %}
