{% extends "../templates/layouts/layout.njk" %}
{% block content %}
<div class="breadcrumbs">
  <div class="container">
    <ul>
      <li><a href="#">Главная страница</a></li>
      <li><a href="#">Карта сайта</a></li>
    </ul>
  </div>
</div>
<section class="site-map">
  <div class="container">
    <div class="site-map__inner">
      <h1 class="site-map__title page-title">Карта сайта</h1>
      <ul class="site-map__list">
        <li class="site-map__item">
          <a href="index.html">Главная страница</a>
          <a class="site-map__btn" href="index.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="news.html">Новости</a>
          <a class="site-map__btn" href="news.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="promo.html">Акции</a>
          <a class="site-map__btn" href="promo.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="text.html">Как выставить лот</a>
          <a class="site-map__btn" href="text.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="schedule.html">Расписание аукциона</a>
          <a class="site-map__btn" href="schedule.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="terms.html">Как работает аукцион</a>
          <a class="site-map__btn" href="terms.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="terms.html">Условия, способы оплаты</a>
          <a class="site-map__btn" href="terms.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="terms.html">Условия, способы доставка</a>
          <a class="site-map__btn" href="terms.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="cart.html">Корзина</a>
          <a class="site-map__btn" href="cart.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="order.html">Оформление заказа (доставка, оплата) </a>
          <a class="site-map__btn" href="order.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="favorites.html">Избранное</a>
          <a class="site-map__btn" href="favorites.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="buyer.html">Личный кабинет покупателя</a>
          <a class="site-map__btn" href="profile-buyer.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="saler.html">Личный кабинет продавца</a>
          <a class="site-map__btn" href="profile-saler.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="agreement.html">Пользовательское соглашение</a>
          <a class="site-map__btn" href="agreement.html">Перейти</a>
        </li>
        <li class="site-map__item">
          <a href="policy.html">Политика конфиденциальности</a>
          <a class="site-map__btn" href="policy.html">Перейти</a>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock content %}
