{% extends "../templates/layouts/layout.njk" %}
{% block content %}
<style>
  .test-list {
    margin: 30px 0;
  }

  .test-list a {
    padding: 10px;
    font-size: 20px;
  }
</style>
<div class="text-section">
  <ul class="test-list">
    <li><a href="index.html">Главная</a></li>
    <li><a href="auction.html">Аукцион</a></li>
    <li><a href="product.html">Карточка товара  </a></li>
    <li><a href="product-sold.html">Карточка товара - статус ПРОДАН</a></li>
    <li><a href="product-archive.html">Карточка товара - статус В АРХИВЕ</a></li>
    {# <li><a href="terms.html">Условия</a></li> #}
  </ul>
  <hr>
  {# <button class="btn-primary" data-modal-open="modal-call">Модалка обратный звонок</button> #}
  <hr>
  {% for i in range(0, 5) -%}
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis cupiditate assumenda placeat fuga libero quisquam
    quidem, quam ipsum eum deleniti magni pariatur similique odit ad eaque ipsam maiores commodi facere? Lorem, ipsum
    dolor sit amet consectetur adipisicing elit. Corporis cupiditate assumenda placeat fuga libero quisquam quidem, quam
    ipsum eum deleniti magni pariatur similique odit ad eaque ipsam maiores commodi facere? Lorem, ipsum dolor sit amet
    consectetur adipisicing elit. Corporis cupiditate assumenda placeat fuga libero quisquam quidem, quam ipsum eum
    deleniti magni pariatur similique odit ad eaque ipsam maiores commodi facere?
  </p>
  {%- endfor %}
</div>
{% endblock content %}
