.catalog {
  padding: 10px 0 180px;

  &__inner {
  }

  &__tabs {
    margin-bottom: 20px;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li {
      @include mr(20px);

      position: relative;
      padding: 10px;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      text-transform: uppercase;
      color: $light-grey-color;
      transition: color $transition;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: $purple-color;
        transition: width $transition;
      }

      &.is-active {
        color: $purple-color;

        &::after {
          width: 100%;
        }
      }
    }
  }

  &__content {
    margin-bottom: 40px;
  }

  &__list {
    @include grid(4, 20px);

    counter-reset: catalog-list;
    display: none;

    &.is-active {
      display: grid;
    }
  }

  &__btn-wrapper {
    text-align: center;
  }
}

.catalog-card {
  counter-increment: catalog-list;
  display: flex;
  flex-direction: column;
  border: 1px solid $light-grey-color;
  border-radius: 15px;
  padding: 16px 15px;
  box-shadow: 0 30px 60px rgba(128, 64, 168, 5%);
  background-color: $white-color;
  transition: background-color $transition, color $transition;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__tag {
    border-radius: 5px;
    padding: 5px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: $white-color;
    background-color: $light-purple-color;
    transition: background-color $transition, color $transition;
  }

  &__num {
    font-weight: 500;
    color: $light-grey-color;
    transition: color $transition;

    &::after {
      content: "№0" counter(catalog-list);
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border: 1px solid $light-grey-color;
    border-radius: 5px;
    padding: 0 20px;

    img {
      width: 100%;
    }

    picture {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    margin-top: auto;
    margin-bottom: 10px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid $light-grey-color;
    padding: 5px 0;
    font-weight: 500;
    font-size: 14px;
    transition: border-color $transition;
  }

  &__key {
    color: $light-grey-color;
    transition: color $transition;
  }

  &__value {
    display: flex;
    align-items: center;

    i {
      margin-left: 8px;
    }
  }

  &__btn-bid {
    margin-bottom: 8px;
    border: 2px solid $green-color;
    color: $green-color;
    transition: border-color $transition, color $transition;
  }

  &__btn-buy {
    color: $white-color;
    background-color: $purple-color;
  }

  &__title {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.4;
  }

  &:nth-child(9) ~ .catalog-card .catalog-card__num {
    &::after {
      content: "№" counter(catalog-list);
    }
  }

  &__btn-bid,
  &__btn-buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    padding: 13px 15px;
    height: 50px;
    font-weight: 500;
    line-height: normal;

    span {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      margin-left: 7px;
    }

    i {
      margin-left: 10px;
    }
  }

  @include hover {
    color: $white-color;
    background-color: $light-purple-color;

    .catalog-card {
      &__tag {
        background-color: $purple-color;
      }

      &__row,
      &__btn-bid {
        border-color: $white-color;
      }

      &__num,
      &__key,
      &__btn-bid {
        color: $white-color;
      }
    }

    .icon-hint-green,
    .icon-hint-purple {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 10.625C7.67708 10.625 7.82563 10.565 7.94563 10.445C8.06521 10.3254 8.125 10.1771 8.125 10V7.48438C8.125 7.30729 8.06521 7.16146 7.94563 7.04687C7.82563 6.93229 7.67708 6.875 7.5 6.875C7.32292 6.875 7.17458 6.93479 7.055 7.05437C6.935 7.17437 6.875 7.32292 6.875 7.5V10.0156C6.875 10.1927 6.935 10.3385 7.055 10.4531C7.17458 10.5677 7.32292 10.625 7.5 10.625ZM7.5 5.625C7.67708 5.625 7.82563 5.565 7.94563 5.445C8.06521 5.32542 8.125 5.17708 8.125 5C8.125 4.82292 8.06521 4.67438 7.94563 4.55438C7.82563 4.43479 7.67708 4.375 7.5 4.375C7.32292 4.375 7.17458 4.43479 7.055 4.55438C6.935 4.67438 6.875 4.82292 6.875 5C6.875 5.17708 6.935 5.32542 7.055 5.445C7.17458 5.565 7.32292 5.625 7.5 5.625ZM7.5 13.75C6.63542 13.75 5.82292 13.5858 5.0625 13.2575C4.30208 12.9296 3.64063 12.4844 3.07813 11.9219C2.51563 11.3594 2.07042 10.6979 1.7425 9.9375C1.41417 9.17708 1.25 8.36458 1.25 7.5C1.25 6.63542 1.41417 5.82292 1.7425 5.0625C2.07042 4.30208 2.51563 3.64063 3.07813 3.07813C3.64063 2.51563 4.30208 2.07021 5.0625 1.74187C5.82292 1.41396 6.63542 1.25 7.5 1.25C8.36458 1.25 9.17708 1.41396 9.9375 1.74187C10.6979 2.07021 11.3594 2.51563 11.9219 3.07813C12.4844 3.64063 12.9296 4.30208 13.2575 5.0625C13.5858 5.82292 13.75 6.63542 13.75 7.5C13.75 8.36458 13.5858 9.17708 13.2575 9.9375C12.9296 10.6979 12.4844 11.3594 11.9219 11.9219C11.3594 12.4844 10.6979 12.9296 9.9375 13.2575C9.17708 13.5858 8.36458 13.75 7.5 13.75ZM7.5 12.5C8.88542 12.5 10.0652 12.0131 11.0394 11.0394C12.0131 10.0652 12.5 8.88542 12.5 7.5C12.5 6.11458 12.0131 4.93479 11.0394 3.96062C10.0652 2.98687 8.88542 2.5 7.5 2.5C6.11458 2.5 4.935 2.98687 3.96125 3.96062C2.98708 4.93479 2.5 6.11458 2.5 7.5C2.5 8.88542 2.98708 10.0652 3.96125 11.0394C4.935 12.0131 6.11458 12.5 7.5 12.5Z' fill='%23F6F6F6'/%3E%3C/svg%3E%0A");
    }
  }
}

@media screen and (max-width: 1280px) {
  .catalog {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: $menu-breakpoint) { // 991
  .catalog {
    &__list {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(280px, 300px));
    }

    &__tabs {
      ul {
        justify-content: space-between;
        overflow: auto;
        margin: 0 -15px;
        padding: 0 15px;
      }

      li {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .catalog {
    &__list {
      grid-template-columns: minmax(280px, 300px);
    }
  }
}

@media screen and (max-width: 580px) {
  .catalog {
    &__tabs {
      li {
        @include mr(24px);

        font-size: 14px;
      }
    }
  }
}
