.completed {
  padding: 20px 0 180px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__list {
    @include grid(4, 20px);
  }

  &__btn-wrapper {
    display: none;
  }
}

.auction-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $light-grey-color;
  border-radius: 10px;
  padding: 16px 20px;
  background-color: $white-color;

  &__img {
    position: relative;
    display: block;
    margin-bottom: 16px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../img/auction-completed.png") center / 260px no-repeat;
    }

    picture {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      border-radius: 5px;
      width: 100%;
    }
  }

  &__date {
    margin-bottom: 16px;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: $white-color;
    background-color: $second-light-purple-color;
  }

  &__title {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 500;
  }
}

@media screen and (max-width: 1280px) {
  .completed__list {
    gap: 14px;
  }

  .auction-card {
    padding: 10px;

    &__title {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: $menu-breakpoint) {
  .completed {
    padding-bottom: 90px;

    &__list {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(auto, 230px));
      gap: 20px;
    }
  }
}

@media screen and (max-width: 750px) {
  .completed {
    &__list {
      margin-bottom: 40px;
    }

    &__head {
      display: block;
    }

    &__title {
      text-align: center;
    }

    &__btn {
      display: none;
    }

    &__btn-wrapper {
      display: block;
      text-align: center;
    }
  }
}

@media screen and (max-width: 580px) {
  .completed {
    padding-bottom: 60px;

    &__list {
      grid-template-columns: minmax(auto, 230px);
    }
  }
}

@media screen and (max-width: 460px) {
  .completed {
    &__btn-mobile {
      width: 100%;
      max-width: 280px;
    }

    &__title {
      margin: 0 auto;
      max-width: min-content;
    }
  }
}
