.news {
  padding: 20px 0 180px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__item {
    @include mb(20px);
  }

  &__btn-wrapper {
    display: none;
  }
}

@media screen and (max-width: $menu-breakpoint) {
  .news {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 750px) {
  .news {
    .container {
      padding: 0 10px;
    }

    &__head {
      display: block;
    }

    &__title {
      text-align: center;
    }

    &__btn {
      display: none;
    }

    &__btn-wrapper {
      display: block;
      text-align: center;
    }

    &__list {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 580px) {
  .news {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 460px) {
  .news {
    &__btn-mobile {
      width: 100%;
      max-width: 280px;
    }
  }
}
