.news {
  padding: 20px 0 180px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__item {
    @include mb(20px);
  }

  &__btn-wrapper {
    display: none;
  }
}

.news-card {
  border: 1px solid $light-grey-color;
  border-radius: 20px;
  padding: 23px 20px;
  background-color: $white-color;

  &__title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.015em;
  }

  &__text {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;

    p {
      @include mb(15px);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__date {
    margin-right: 5px;
    font-weight: 500;
    line-height: 1.4;
    color: $light-purple-color;
  }
}

@media screen and (max-width: $menu-breakpoint) {
  .news {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 750px) {
  .news {
    .container {
      padding: 0 10px;
    }

    &__head {
      display: block;
    }

    &__title {
      text-align: center;
    }

    &__btn {
      display: none;
    }

    &__btn-wrapper {
      display: block;
      text-align: center;
    }

    &__list {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 580px) {
  .news {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 460px) {
  .news {
    &__btn-mobile {
      width: 100%;
      max-width: 280px;
    }
  }
}

@media screen and (max-width: 350px) {
  .news-card__btn {
    padding: 5px 42px 5px 20px;
    background-position: right 15px center;
  }
}
