.order {
  &__inner {
  }

  &__title {
  }

  &__body {
    padding-top: 20px;
  }

  &__info {
  }

  &__box {
    @include mb(40px);
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 1.2;
    color: $grey-color;
  }

  &__radios {
    @include grid(2, 20px);
  }

  &__map {
    width: 100%;
    height: 400px;

    * {
      [class*="map-copyrights-promo"] {
        /* stylelint-disable-next-line declaration-no-important */
        display: none !important;
      }
    }

    /* stylelint-disable-next-line selector-type-no-unknown */
    > ymaps {
      overflow: hidden;
      border: 1px solid $light-grey-color;
      border-radius: 20px;
    }
  }

  &__form-item {
    margin-bottom: 20px;
  }

  &__form-row {
    @include grid(2, 20px);
  }
}

.order-radio {
  min-height: 80px;

  &__label {
    position: relative;
    display: block;
    padding: 15px;
    height: 100%;
    color: $light-grey-color;
    cursor: pointer;
  }

  input {
    display: none;

    &:checked ~ {
      .order-radio {
        &__bg {
          background-color: $purple-color;
        }

        &__text {
          color: $white-color;
        }
      }
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    border: 1px solid $light-grey-color;
    border-radius: 10px;
    background-color: $white-color;
    inset: 0;
  }

  &--select {
    input:checked ~ {
      .choices-select {
        .choices__inner::after {
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5833 2.39586L8.58329 9.41669C8.49996 9.50003 8.40968 9.55919 8.31246 9.59419C8.21524 9.62919 8.11107 9.64642 7.99996 9.64586C7.88885 9.64586 7.78468 9.62864 7.68746 9.59419C7.59024 9.55975 7.49996 9.50058 7.41663 9.41669L0.395792 2.39586C0.201348 2.20142 0.104126 1.95836 0.104126 1.6667C0.104126 1.37503 0.208292 1.12503 0.416626 0.916696C0.624959 0.708362 0.868014 0.604196 1.14579 0.604196C1.42357 0.604196 1.66663 0.708362 1.87496 0.916696L7.99996 7.04169L14.125 0.916695C14.3194 0.72225 14.5591 0.625028 14.8441 0.625028C15.1291 0.625028 15.3755 0.729194 15.5833 0.937528C15.7916 1.14586 15.8958 1.38892 15.8958 1.66669C15.8958 1.94447 15.7916 2.18753 15.5833 2.39586Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
        }

        .choices__list--single .choices__item {
          color: $white-color;
        }
      }
    }

    .order-radio__label {
      padding: 0;
    }

    .choices-select .choices__list--dropdown,
    .choices-select .choices__list[aria-expanded] {
      width: 100%;
    }

    .choices-select {
      display: block;
      height: 100%;

      .choices {
        @include flex-center;

        height: 100%;

        &__inner {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            right: 17px;
            top: 50%;
            width: 16px;
            height: 18px;
            background: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5833 2.39586L8.58329 9.41669C8.49996 9.50003 8.40968 9.55919 8.31246 9.59419C8.21524 9.62919 8.11107 9.64642 7.99996 9.64586C7.88885 9.64586 7.78468 9.62864 7.68746 9.59419C7.59024 9.55975 7.49996 9.50058 7.41663 9.41669L0.395792 2.39586C0.201348 2.20142 0.104126 1.95836 0.104126 1.6667C0.104126 1.37503 0.208292 1.12503 0.416626 0.916696C0.624959 0.708362 0.868014 0.604196 1.14579 0.604196C1.42357 0.604196 1.66663 0.708362 1.87496 0.916696L7.99996 7.04169L14.125 0.916695C14.3194 0.72225 14.5591 0.625028 14.8441 0.625028C15.1291 0.625028 15.3755 0.729194 15.5833 0.937528C15.7916 1.14586 15.8958 1.38892 15.8958 1.66669C15.8958 1.94447 15.7916 2.18753 15.5833 2.39586Z' fill='%23A1A1A3'/%3E%3C/svg%3E%0A") center no-repeat;
            transform: translateY(-50%);
          }
        }

        &.is-open {
          .choices__inner::after {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }

      .choices__list--single .choices__item {
        border: transparent;
        padding: 15px 40px 15px 15px;
        font-size: 16px;
        line-height: 1.4;
        color: $light-grey-color;
        background: transparent;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .order {
    &__body {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: $menu-breakpoint) {
  .order {
    &__info {
      margin-bottom: 40px;
    }

    &__subtitle {
      font-weight: 500;
      font-size: 20px;
    }

    &__radios {
      font-weight: 500;
      font-size: 14px;

      .choices-select .choices__list--single .choices__item {
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .order {
    &__radios {
      font-size: 12px;

      .choices-select .choices__list--single .choices__item {
        font-size: 12px;
      }
    }
  }
}
