$menu-transition: 0.45s cubic-bezier(0.7, -0.4, 0.4, 1.4);

.profile-menu {
  position: relative;
  flex-shrink: 0;
  border: 1px solid $light-grey-color;
  border-radius: 10px;
  padding: 20px;
  width: 60px;
  background: $white-color;
  transition: $menu-transition;
  will-change: width;

  &__burger {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      background: url("../img/profile-burger-icon.svg") center no-repeat;
      transform: translate(-50%, -50%);
      transition: $menu-transition;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      background: url("../img/profile-arrow-icon.svg") center no-repeat;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: $menu-transition;
    }

    &.is-active {
      &::before {
        opacity: 0;
        transform: translate(-50%, -50%);
      }

      &::after {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__content {
    overflow: hidden;
    width: 270px;
    height: 0;
    opacity: 0;
    transition: $menu-transition;
  }

  &__box {
    @include mb(20px);

    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;

    li {
      @include mb(8px);
    }

    a {
      position: relative;
      display: block;
      padding-left: 20px;
      color: $light-grey-color;
      transition: color $transition;

      &::before {
        content: "·";
        position: absolute;
        left: 8px;
        top: 0;
        font-size: 22px;
        line-height: 1;
      }

      @include hover {
        color: $purple-color;
      }
    }
  }

  &__title {
    align-self: flex-start;
    margin-bottom: 8px;
    padding-right: 11px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    background: url("../img/triangle-nav-icon.svg") top 7px right no-repeat;
  }

  &.is-active {
    border-radius: 20px;
    width: 270px;

    .profile-menu {
      &__content {
        height: 100%;
        opacity: 1;
      }
    }
  }
}
