.promos {
  padding: 20px 0 245px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    margin-right: 15px;
  }

  &__list {
    @include grid(2);
  }

  &__btn-wrapper {
    display: none;
  }
}

@media screen and (max-width: $menu-breakpoint) { // 991
  .promos {
    padding-bottom: 90px;

    &__list {
      grid-template-columns: 1fr;
      gap: 45px;
    }
  }
}

@media screen and (max-width: 750px) {
  .promos {
    .container {
      padding: 0 10px;
    }

    &__list {
      margin-bottom: 40px;
    }

    &__head {
      display: block;
    }

    &__title {
      text-align: center;
    }

    &__btn {
      display: none;
    }

    &__btn-wrapper {
      display: block;
      text-align: center;
    }
  }
}

@media screen and (max-width: 580px) {
  .promos {
    padding-bottom: 60px;

    &__list {
      gap: 40px;
    }
  }
}

@media screen and (max-width: 460px) {
  .promos {
    &__btn-mobile {
      width: 100%;
      max-width: 280px;
    }

    &__title {
      margin: 0 auto;
      max-width: min-content;
    }
  }
}
