.profile {
  padding-bottom: 200px;

  &__title {
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    min-height: 750px;
  }

  &__menu {
    margin-right: 20px;
  }

  &__header {
    margin-bottom: 20px;
  }

  .pagination {
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 1200px) {
  .profile {
    &__content {
      display: grid;
      grid-template-columns: 60px auto;
      gap: 20px;
    }

    &__menu {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .profile {
    &-docs {
      .profile-body {
        &__main {
          margin-bottom: 0;
        }

        &__title {
          display: none;
        }
      }
    }

    &__inner {
      padding-top: 20px;
    }

    &__content {
      display: block;
      min-height: auto;
    }
  }
}
