.product {
  padding: 20px 0 200px;

  &__inner {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
  }

  &__slider-wrapper {
    max-width: 400px;
  }

  &__slider {
    margin-bottom: 20px;
    height: 400px;

    .slider-pagination {
      .swiper-pagination-bullet {
        background-color: $purple-color;
        opacity: 0.5;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
      }
    }

    .slider-button-prev,
    .slider-button-next {
      position: absolute;
      top: 50%;
      z-index: 3;
      transform: translateY(-50%);
    }

    .slider-button-prev {
      left: 10px;
      transform: translateY(-50%) rotate(180deg);
    }

    .slider-button-next {
      right: 10px;
    }
  }

  &__slide {
    border: 1px solid $light-grey-color;
    border-radius: 9px;
    box-shadow: 0 30px 60px rgba(128, 64, 168, 5%);

    img {
      border-radius: 9px;
      width: 100%;
      height: 100%;
    }

    picture {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  &__thumbs {
    height: 130px;
  }

  &__thumbs-slide {
    border-radius: 5px;
    cursor: pointer;

    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
    }

    picture {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    margin-right: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__head-icon {
    @include flex-center;

    flex-shrink: 0;
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    background-color: $purple-color;
    cursor: pointer;

    i {
      width: 24px;
      height: 24px;
    }
  }

  &__status {
    margin-bottom: 24px;
    text-align: right;
  }

  &__status-caption {
    display: inline-block;
    margin-left: auto;
    border-radius: 150px;
    padding: 18px 30px;
    min-width: 240px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
  }

  &__auction {
    margin-bottom: 24px;
  }
}

.product-auction {
  &__top {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 24px;
    gap: 20px;
  }

  &__price {
    font-size: 25px;
    line-height: 1.2;
    color: #808080;

    span {
      margin-left: 24px;
      font-weight: 500;
      color: $purple-color;
    }
  }

  &__bottom-items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
  }

  &__badge {
    @include flex-center;

    flex-direction: column;
    border: 2px solid $purple-color;
    border-radius: 5px;
    padding: 5px 30px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: $purple-color;

    span {
      margin-bottom: 1px;
      font-weight: 500;
      font-size: 12px;
      color: $light-grey-color;
    }
  }

  &__btn-buy {
    span {
      flex-shrink: 0;
      margin-left: 8px;
      border: 1px solid $purple-color;
      border-radius: 3px;
      padding: 8px;
      font-size: 14px;
      color: $purple-color;
      background-color: $white-color;
    }
  }

  &__btn-autobid {
    span {
      flex-shrink: 0;
      margin-left: 8px;
      border: 1px solid #a1a1a3;
      border-radius: 3px;
      padding: 8px;
      font-size: 14px;
      color: $light-grey-color;
      background-color: $white-color;
    }
  }
}

.product-timer {
  &__caption {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    color: $light-grey-color;
  }

  &__items {
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    @include mr(8px);

    border-radius: 5px;
    padding: 7px;
    min-width: 62px;
    color: $white-color;
    background-color: $light-purple-color;
  }

  &__num {
    position: relative;
    margin-bottom: 4px;
    text-align: center;

    &::after {
      content: attr(data-title);
      display: block;
      font-size: 10px;
    }
  }
}

.product-info {
  font-size: 14px;
  line-height: 1.4;

  &__row {
    @include mb(24px);

    display: grid;
    grid-template-columns: 49fr 35fr;
    gap: 20px;
  }

  &__item {
    @include mb(24px);

    display: flex;
    flex-direction: column;

    &.is-active {
      .product-info {
        &__content {
          display: block;
        }

        &__head {
          border-radius: 10px 10px 0 0;

          &::after {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
    }
  }

  &__col {
    @include mb(0);
  }

  &__video {
    position: relative;
    display: block;

    &::before {
      content: "";
      position: absolute;
      border-radius: 20px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 20%), rgba(255, 255, 255, 20%));
      inset: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: url("../img/play-icon.svg") center no-repeat;
      background-color: $purple-color;
      transform: translate(-50%, -50%);
    }

    picture {
      display: flex;
    }

    img {
      border-radius: 20px;
    }
  }

  &__head {
    position: relative;
    border-radius: 10px;
    padding: 12px 60px 12px 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.015em;
    color: $white-color;
    background-color: $second-purple-color;
    cursor: pointer;
    user-select: none;

    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      width: 30px;
      height: 30px;
      background: url("../img/filter-arrow-icon.svg") center / cover  no-repeat;
      transform: translateY(-50%);
    }
  }

  &__content {
    display: none;
    flex-grow: 1;
    border-radius: 0 0 10px 10px;
    padding: 15px 20px 25px;
    background-color: $white-color;
  }

  &__table {
    font-weight: 500;

    table {
      width: 100%;
    }

    th,
    td {
      padding: 5px 0;
    }

    th {
      padding-right: 15px;
      text-align: left;
      color: #808080;
    }

    td {
      color: #313131;
    }

    thead tr:last-child {
      th,
      td {
        padding-bottom: 15px;
      }
    }
  }

  &__text {
    color: #383838;

    p {
      @include mb(20px);
    }
  }
}

.product-history {
  &__item {
    @include mb(14px);

    font-weight: 500;
  }

  &__link {
    display: flex;
  }

  &__img {
    position: relative;
    margin-right: 10px;

    img {
      border-radius: 3px;
    }
  }

  &__img--top::before {
    content: "";
    position: absolute;
    left: -10px;
    top: -10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: url("../img/king-icon.svg") center / cover no-repeat;
  }

  &__info {
    flex-grow: 1;
  }

  &__name {
    margin-bottom: 10px;
    padding-right: 20px;
    font-weight: 500;
    background: url("../img/chevron-right-icon.svg") right center no-repeat;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__footer-value {
    color: $light-grey-color;
  }
}

.product-tracks {
  @include grid;

  &__col {
    ul {
      line-height: 1.45;
      color: $light-grey-color;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 1280px) {
  .product-auction {
    &__bottom {
      margin: 0 auto;
      max-width: 410px;
    }

    &__bottom-items {
      display: flex;
      flex-wrap: wrap;
      margin: -5px;
      gap: 0;

      > * {
        flex-grow: 1;
        margin: 5px;
      }
    }

    &__top {
      align-items: flex-end;
    }

    &__price {
      display: block;

      span {
        display: block;
        margin-top: 8px;
        margin-left: 0;
      }
    }

    &__badge {
      padding: 5px 20px;
      font-size: 14px;
    }
  }

  .product-info {
    &__row {
      display: block;
    }

    &__item {
      @include mb(20px);
    }
  }
}

@media screen and (max-width: $menu-breakpoint) { // 991
  .product {
    padding-bottom: 90px;

    &__slider-wrapper {
      margin-bottom: 20px;
      max-width: 100%;
    }

    &__slider {
      height: auto;
    }

    &__slide {
      img {
        max-height: 720px;
      }
    }

    &__inner {
      display: block;
    }
  }
}

@media screen and (max-width: 580px) {
  .product {
    padding-bottom: 60px;

    &__title {
      font-size: 16px;
    }

    &__status-caption {
      padding: 18px 20px;
      min-width: 200px;
      font-size: 18px;
    }
  }

  .product-auction {
    &__price {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 20px;

      span {
        display: inline;
        margin-left: 8px;
      }
    }

    &__top {
      display: block;
    }
  }

  .product-timer {
    &__caption {
      text-align: left;
    }

    &__items {
      justify-content: flex-start;
    }
  }

  .product-info__video {
    &::before {
      border-radius: 10px;
    }

    img {
      border-radius: 10px;
    }
  }

  .product-tracks {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 460px) {
  .product {
    padding-bottom: 60px;

    &__thumbs {
      height: 110px;
    }
  }

  .product-auction {
    &__bottom-items {
      > * {
        padding: 5px;
        font-size: 14px;
      }
    }
  }
}