<div class="profile__body profile-body">
  <div class="profile-body__header">
    <ul class="profile-body__tabs">
      <li><a href="#">Мои лоты</a></li>
      <li class="is-active"><a href="#">Мои продажи</a></li>
      <li><a href="#">Мои данные</a></li>
    </ul>
    <div class="profile-body__controls">
      <a class="profile-body__download" href="#">Получить отчет за сегодня в формате</a>
      <div class="profile-body__select choices-select choices-select--right">
        <select>
          <option value="1" selected>XLS</option>
          <option value="2">PDF</option>
          <option value="3">TXT</option>
        </select>
      </div>
    </div>
  </div>
  <div class="profile-body__main">
    <div class="profile-body__top">
      <div class="profile-body__top-col">
        <div class="profile-body__title">Баланс</div>
        <div class="profile-body__top-date"><span>История выплат</span> на 01/05/2023 <i class="icon-edit" role="button"
            tabindex="0"></i> </div>
      </div>
      <div class="profile-body__top-col">
        <div class="profile-body__top-balance-lg" data-text-mobile="Баланс">10 000руб</div>
      </div>
    </div>
    <div class="profile-body__content">
      <div class="profile-body__table profile-body__table--balance hide-more-4-mobile">
        <table>
          <thead>
            <tr>
              <th class="profile-body__table-date">Дата выплаты</th>
              <th class="profile-body__table-purpose">Назначение выплаты</th>
              <th class="profile-body__table-status">Статус выплаты</th>
              <th class="profile-body__table-sum">
                <div>Сумма выплаты <i class="icon-hint"></i></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="profile-body__table-date" data-text="Дата выплаты">01.02.2023</td>
              <td class="profile-body__table-purpose" data-text="Назначение выплаты">Выплата за лот А1-94</td>
              <td class="profile-body__table-status" data-text="Статус выплаты">
                <div>Не выплачено</div>
              </td>
              <td class="profile-body__table-sum" data-text="Сумма выплаты">
                <div>1 000р <i class="icon-hint-light-grey"></i></div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-date" data-text="Дата выплаты">01.02.2023</td>
              <td class="profile-body__table-purpose" data-text="Назначение выплаты">Выплата за лот А1-95</td>
              <td class="profile-body__table-status profile-body__table-status--pay" data-text="Статус выплаты">
                <div>Выплачено</div>
              </td>
              <td class="profile-body__table-sum" data-text="Сумма выплаты">
                <div>1 000р <i class="icon-hint-light-grey"></i></div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-date" data-text="Дата выплаты">01.02.2023</td>
              <td class="profile-body__table-purpose" data-text="Назначение выплаты">Выплата за лот А1-94</td>
              <td class="profile-body__table-status" data-text="Статус выплаты">
                <div>Не выплачено</div>
              </td>
              <td class="profile-body__table-sum" data-text="Сумма выплаты">
                <div>1 000р <i class="icon-hint-light-grey"></i></div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-date" data-text="Дата выплаты">01.02.2023</td>
              <td class="profile-body__table-purpose" data-text="Назначение выплаты">Выплата за лот А1-95</td>
              <td class="profile-body__table-status profile-body__table-status--pay" data-text="Статус выплаты">
                <div>Выплачено</div>
              </td>
              <td class="profile-body__table-sum" data-text="Сумма выплаты">
                <div>1 000р <i class="icon-hint-light-grey"></i></div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-date" data-text="Дата выплаты">01.02.2023</td>
              <td class="profile-body__table-purpose" data-text="Назначение выплаты">Выплата за лот А1-94</td>
              <td class="profile-body__table-status" data-text="Статус выплаты">
                <div>Не выплачено</div>
              </td>
              <td class="profile-body__table-sum" data-text="Сумма выплаты">
                <div>1 000р <i class="icon-hint-light-grey"></i></div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-date" data-text="Дата выплаты">01.02.2023</td>
              <td class="profile-body__table-purpose" data-text="Назначение выплаты">Выплата за лот А1-95</td>
              <td class="profile-body__table-status profile-body__table-status--pay" data-text="Статус выплаты">
                <div>Выплачено</div>
              </td>
              <td class="profile-body__table-sum" data-text="Сумма выплаты">
                <div>1 000р <i class="icon-hint-light-grey"></i></div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-date" data-text="Дата выплаты">01.02.2023</td>
              <td class="profile-body__table-purpose" data-text="Назначение выплаты">Выплата за лот А1-94</td>
              <td class="profile-body__table-status" data-text="Статус выплаты">
                <div>Не выплачено</div>
              </td>
              <td class="profile-body__table-sum" data-text="Сумма выплаты">
                <div>1 000р <i class="icon-hint-light-grey"></i></div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-date" data-text="Дата выплаты">01.02.2023</td>
              <td class="profile-body__table-purpose" data-text="Назначение выплаты">Выплата за лот А1-95</td>
              <td class="profile-body__table-status profile-body__table-status--pay" data-text="Статус выплаты">
                <div>Выплачено</div>
              </td>
              <td class="profile-body__table-sum" data-text="Сумма выплаты">
                <div>1 000р <i class="icon-hint-light-grey"></i></div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-date" data-text="Дата выплаты">01.02.2023</td>
              <td class="profile-body__table-purpose" data-text="Назначение выплаты">Выплата за лот А1-94</td>
              <td class="profile-body__table-status" data-text="Статус выплаты">
                <div>Не выплачено</div>
              </td>
              <td class="profile-body__table-sum" data-text="Сумма выплаты">
                <div>1 000р <i class="icon-hint-light-grey"></i></div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-date" data-text="Дата выплаты">01.02.2023</td>
              <td class="profile-body__table-purpose" data-text="Назначение выплаты">Выплата за лот А1-95</td>
              <td class="profile-body__table-status profile-body__table-status--pay" data-text="Статус выплаты">
                <div>Выплачено</div>
              </td>
              <td class="profile-body__table-sum" data-text="Сумма выплаты">
                <div>1 000р <i class="icon-hint-light-grey"></i></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="profile-body__footer">
      {% include "../../common/pagination.njk" %}
    </div>
  </div>
  <div class="profile-body__btn-wrapper">
    <a class="profile-body__btn btn-secondary" href="#">Показать еще</a>
  </div>
</div>
