<div class="profile__body profile-body">
  <div class="profile-body__header">
    <ul class="profile-body__tabs">
      <li><a href="#">Мои лоты</a></li>
      <li><a href="#">Мои заказы</a></li>
      <li class="is-active"><a href="#">Мои данные</a></li>
    </ul>
  </div>
  <div class="profile-body__main">
    <div class="profile-body__title">Общая информация</div>
    <div class="profile-body__content">
      <form class="profile-body__form profile-form" action="#">
        <div class="profile-form__box">
          <div class="profile-form__title">Контактная информация</div>
          <div class="profile-form__items">
            <label class="profile-form__item">
              <span>Логин</span>
              <input class="form-input" type="text">
            </label>
            <label class="profile-form__item">
              <span>Фамилия</span>
              <input class="form-input" type="text">
            </label>
            <label class="profile-form__item">
              <span>Имя</span>
              <input class="form-input" type="text">
            </label>
            <label class="profile-form__item">
              <span>Отчество</span>
              <input class="form-input" type="text">
            </label>
            <label class="profile-form__item">
              <span>Телефон</span>
              <input class="form-input" type="text">
            </label>
          </div>
        </div>
        <div class="profile-form__box">
          <div class="profile-form__title">Адрес доставки</div>
          <div class="profile-form__items">
            <label class="profile-form__item">
              <span>Область</span>
              <input class="form-input" type="text">
            </label>
            <label class="profile-form__item">
              <span>Город</span>
              <input class="form-input" type="text">
            </label>
            <label class="profile-form__item">
              <span>Почтовый
                индекс</span>
              <input class="form-input" type="text">
            </label>
            <label class="profile-form__item">
              <span>Улица</span>
              <input class="form-input" type="text">
            </label>
            <label class="profile-form__item">
              <span>Дом</span>
              <input class="form-input" type="text">
            </label>
            <label class="profile-form__item">
              <span>Квартира</span>
              <input class="form-input" type="text">
            </label>
          </div>
        </div>
        <div class="profile-form__box">
          <div class="profile-form__row">
            <div class="profile-form__title">Способ доставки</div>
            <div class="profile-form__radios">
              <label class="form-radio">
                <input type="radio" name="delivery" value="1" checked>
                <span class="form-radio__box"></span>
                <span class="form-radio__text">Почта России</span>
              </label>
              <label class="form-radio">
                <input type="radio" name="delivery" value="2">
                <span class="form-radio__box"></span>
                <span class="form-radio__text">Почта России со страховкой</span>
              </label>
              <label class="form-radio">
                <input type="radio" name="delivery" value="3">
                <span class="form-radio__box"></span>
                <span class="form-radio__text">Самовывоз из офиса</span>
              </label>
              <label class="form-radio">
                <input type="radio" name="delivery" value="4">
                <span class="form-radio__box"></span>
                <span class="form-radio__text">СДЭК</span>
              </label>
            </div>
          </div>
          <div class="profile-form__policy">
            <label class="form-checkbox">
              <input type="checkbox" checked>
              <span class="form-checkbox__box"></span>
              <span class="form-checkbox__text">Я даю <a href="#">согласие на обработку</a> персональных данных</span>
            </label>
          </div>
          <div class="profile-form__btn-wrapper">
            <button class="profile-form__btn btn-primary-dark">Сохранить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
