<div class="profile__body profile-body">
  <div class="profile-body__header">
    <ul class="profile-body__tabs">
      <li><a href="#">Мои лоты</a></li>
      <li><a href="#">Мои заказы</a></li>
      <li class="is-active"><a href="#">Мои данные</a></li>
    </ul>
  </div>
  <div class="profile-body__main">
    <div class="profile-body__title">Мои документы</div>
    <div class="profile-body__content">
      <div class="profile-body__docs-table docs-table">
        <table>
          <tr>
            <td class="docs-table__date">
              <div>20.09.2022</div>
            </td>
            <td class="docs-table__docs">
              <div class="docs-table__docs-row">
                <img class="docs-table__img-check" width="35" height="36" src="img/check-circle-icon.svg" alt="">
                <div><img class="docs-table__img-docs" width="50" height="50" src="img/docs-icon.svg"
                    alt=""><span>Договор комиссии</span></div>
              </div>
            </td>
            <td class="docs-table__link">
              <a href="#">Посмотреть</a>
            </td>
          </tr>
          <tr>
            <td class="docs-table__date">
              <div>20.09.2022</div>
            </td>
            <td class="docs-table__docs">
              <div class="docs-table__docs-row">
                <img src="img/check-circle-icon.svg" alt="">
                <div><img src="img/docs-icon.svg" alt=""><span>Акт передачи товаров</span></div>
              </div>
            </td>
            <td class="docs-table__link">
              <a href="#">Посмотреть</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
