<div class="profile__body profile-body">
  <div class="profile-body__header">
    <ul class="profile-body__tabs">
      <li><a href="#">Мои лоты</a></li>
      <li><a href="#">Мои заказы</a></li>
      <li class="is-active"><a href="#">Мои данные</a></li>
    </ul>
  </div>
  <div class="profile-body__main">
    <div class="profile-body__title">Мой пароль</div>
    <div class="profile-body__content">
      <form class="profile-body__form profile-form" action="#">
        <div class="profile-form__box">
          <div class="profile-form__items">
            <label class="profile-form__item">
              <span class="profile-form__caption-wide">Старый пароль</span>
              <input class="form-input" type="password" placeholder="***************">
            </label>
            <label class="profile-form__item">
              <span class="profile-form__caption-wide">Новый пароль</span>
              <input class="form-input" type="password" placeholder="Введите новый пароль">
            </label>
            <label class="profile-form__item">
              <span class="profile-form__caption-wide">Повторите пароль</span>
              <input class="form-input" type="password" placeholder="Повторите новый пароль">
            </label>
          </div>
        </div>
        <div class="profile-form__btn-wrapper">
          <button class="profile-form__btn btn-primary-dark">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>
