<div class="profile__body profile-body">
  <div class="profile-body__header">
    <ul class="profile-body__tabs">
      <li><a href="#">Мои лоты</a></li>
      <li class="is-active"><a href="#">Мои продажи</a></li>
      <li><a href="#">Мои данные</a></li>
    </ul>
    <div class="profile-body__controls">
      <a class="profile-body__download" href="#">Получить отчет за сегодня в формате</a>
      <div class="profile-body__select choices-select choices-select--right">
        <select>
          <option value="1" selected>XLS</option>
          <option value="2">PDF</option>
          <option value="3">TXT</option>
        </select>
      </div>
    </div>
  </div>
  <div class="profile-body__main">
    <div class="profile-body__top">
      <div class="profile-body__top-col">
        <div class="profile-body__title">Выплаты</div>
        <div class="profile-body__top-select-wrapper">
          <span>Выберите Аукцион:</span>
          <div class="profile-body__top-select choices-select choices-select--right">
            <select>
              <option value="1" selected>A1</option>
              <option value="2">A2</option>
              <option value="3">A3</option>
            </select>
          </div>
        </div>
        <div class="profile-body__top-date">с 01.01.2023 по 01.02.2023 <i class="icon-edit" role="button"
            tabindex="0"></i> </div>
      </div>
      <div class="profile-body__top-col">
        <div class="profile-body__top-caption profile-body__top-caption--offset">1 243 лотов</div>
      </div>
    </div>
    <div class="profile-body__content">
      <div class="profile-body__table hide-more-4-mobile">
        <table>
          <thead>
            <tr>
              <th class="profile-body__table-num">№</th>
              <th class="profile-body__table-heading">Фото и название</th>
              <th class="profile-body__table-price">Стоимость лота</th>
              <th class="profile-body__table-sum">Сумма выплаты</th>
              <th class="profile-body__table-status">Статус </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="profile-body__table-num" data-text="№">1</td>
              <td class="profile-body__table-heading">
                <div class="profile-body__table-row">
                  <div class="profile-body__table-col">
                    <img width="50" height="50" src="img/profile-1.jpg" alt="фото">
                  </div>
                  <div class="profile-body__table-col">
                    Radiohead – Hail To The Thief
                  </div>
                </div>
              </td>
              <td class="profile-body__table-price" data-text="Стоимость лота">10 000</td>
              <td class="profile-body__table-sum" data-text="Цена продажи">
                <div>9 000</div>
              </td>
              <td class="profile-body__table-status" data-text="Статус">
                <div>Не оплачен</div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-num" data-text="№">2</td>
              <td class="profile-body__table-heading">
                <div class="profile-body__table-row">
                  <div class="profile-body__table-col">
                    <img width="50" height="50" src="img/profile-2.jpg" alt="фото">
                  </div>
                  <div class="profile-body__table-col">
                    Майлз Дэвис – Bitches Brew
                  </div>
                </div>
              </td>
              <td class="profile-body__table-price" data-text="Стоимость лота">5 000</td>
              <td class="profile-body__table-sum" data-text="Цена продажи">
                <div>9 000</div>
              </td>
              <td class="profile-body__table-status profile-body__table-status--pay" data-text="Статус">
                <div>Оплачен</div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-num" data-text="№">3</td>
              <td class="profile-body__table-heading">
                <div class="profile-body__table-row">
                  <div class="profile-body__table-col">
                    <img width="50" height="50" src="img/profile-3.jpg" alt="фото">
                  </div>
                  <div class="profile-body__table-col">
                    My Bloody Valentine – Loveless
                  </div>
                </div>
              </td>
              <td class="profile-body__table-price" data-text="Стоимость лота">8 000</td>
              <td class="profile-body__table-sum" data-text="Цена продажи">
                <div>7 200</div>
              </td>
              <td class="profile-body__table-status profile-body__table-status--pay" data-text="Статус">
                <div>Оплачен</div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-num" data-text="№">4</td>
              <td class="profile-body__table-heading">
                <div class="profile-body__table-row">
                  <div class="profile-body__table-col">
                    <img width="50" height="50" src="img/profile-4.jpg" alt="фото">
                  </div>
                  <div class="profile-body__table-col">
                    Pink Floyd – Wish You Were Here
                  </div>
                </div>
              </td>
              <td class="profile-body__table-price" data-text="Стоимость лота">7 000</td>
              <td class="profile-body__table-sum" data-text="Цена продажи">
                <div>6 300</div>
              </td>
              <td class="profile-body__table-status profile-body__table-status--pay" data-text="Статус">
                <div>Оплачен</div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-num" data-text="№">5</td>
              <td class="profile-body__table-heading">
                <div class="profile-body__table-row">
                  <div class="profile-body__table-col">
                    <img width="50" height="50" src="img/profile-5.jpg" alt="фото">
                  </div>
                  <div class="profile-body__table-col">
                    The Beatles – Abbey Road
                  </div>
                </div>
              </td>
              <td class="profile-body__table-price" data-text="Стоимость лота">11 000</td>
              <td class="profile-body__table-sum" data-text="Цена продажи">
                <div>9 900</div>
              </td>
              <td class="profile-body__table-status" data-text="Статус">
                <div>Не оплачен</div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-num" data-text="№">6</td>
              <td class="profile-body__table-heading">
                <div class="profile-body__table-row">
                  <div class="profile-body__table-col">
                    <img width="50" height="50" src="img/profile-6.jpg" alt="фото">
                  </div>
                  <div class="profile-body__table-col">
                    Daft Punk – Random Access Memories
                  </div>
                </div>
              </td>
              <td class="profile-body__table-price" data-text="Стоимость лота">4 000</td>
              <td class="profile-body__table-sum" data-text="Цена продажи">
                <div>3 600</div>
              </td>
              <td class="profile-body__table-status" data-text="Статус">
                <div>Не оплачен</div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-num" data-text="№">7</td>
              <td class="profile-body__table-heading">
                <div class="profile-body__table-row">
                  <div class="profile-body__table-col">
                    <img width="50" height="50" src="img/profile-7.jpg" alt="фото">
                  </div>
                  <div class="profile-body__table-col">
                    R.E.M. – Automatic For The People
                  </div>
                </div>
              </td>
              <td class="profile-body__table-price" data-text="Стоимость лота">4 500</td>
              <td class="profile-body__table-sum" data-text="Цена продажи">
                <div>4 050</div>
              </td>
              <td class="profile-body__table-status profile-body__table-status--pay" data-text="Статус">
                <div>Оплачен</div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-num" data-text="№">8</td>
              <td class="profile-body__table-heading">
                <div class="profile-body__table-row">
                  <div class="profile-body__table-col">
                    <img width="50" height="50" src="img/profile-8.jpg" alt="фото">
                  </div>
                  <div class="profile-body__table-col">
                    The Flaming Lips – The Soft Bulletin
                  </div>
                </div>
              </td>
              <td class="profile-body__table-price" data-text="Стоимость лота">5 000</td>
              <td class="profile-body__table-sum" data-text="Цена продажи">
                <div>4 500</div>
              </td>
              <td class="profile-body__table-status profile-body__table-status--pay" data-text="Статус">
                <div>Оплачен</div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-num" data-text="№">9</td>
              <td class="profile-body__table-heading">
                <div class="profile-body__table-row">
                  <div class="profile-body__table-col">
                    <img width="50" height="50" src="img/profile-9.jpg" alt="фото">
                  </div>
                  <div class="profile-body__table-col">
                    Стиви Уандер – Innervisions
                  </div>
                </div>
              </td>
              <td class="profile-body__table-price" data-text="Стоимость лота">6 000</td>
              <td class="profile-body__table-sum" data-text="Цена продажи">
                <div>5 400</div>
              </td>
              <td class="profile-body__table-status" data-text="Статус">
                <div>Не оплачен</div>
              </td>
            </tr>
            <tr>
              <td class="profile-body__table-num" data-text="№">10</td>
              <td class="profile-body__table-heading">
                <div class="profile-body__table-row">
                  <div class="profile-body__table-col">
                    <img width="50" height="50" src="img/profile-10.jpg" alt="фото">
                  </div>
                  <div class="profile-body__table-col">
                    Radiohead – Hail To The Thief
                  </div>
                </div>
              </td>
              <td class="profile-body__table-price" data-text="Стоимость лота">7 000</td>
              <td class="profile-body__table-sum" data-text="Цена продажи">
                <div>6 300</div>
              </td>
              <td class="profile-body__table-status profile-body__table-status--pay" data-text="Статус">
                <div>Оплачен</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="profile-body__footer">
      {% include "../../common/pagination.njk" %}
    </div>
  </div>
  <div class="profile-body__btn-wrapper">
    <a class="profile-body__btn btn-secondary" href="#">Показать еще</a>
  </div>
</div>
