<section class="profile-order">
  <div class="container">
    <div class="profile-order__inner">
      <h1 class="profile-order__title page-title">Информация о заказе</h1>
      <div class="profile-order__content">
        <div class="profile-order__top">
          <a class="profile-order__back" href="#">Назад</a>
          <div class="profile-order__caption">Заказ №456</div>
        </div>
        <div class="profile-order__subtitle">Информация о заказе</div>
        <div class="profile-order__info">
          <table>
            <tr>
              <th>Дата оформления</th>
              <td>09.02.2023 21:50</td>
            </tr>
            <tr>
              <th>Сумма и статус заказа</th>
              <td>
                <div class="profile-order__status-row">2 601₽ <span>Не оплачен</span>
                  {# <div class="profile-order__status-row profile-order__status-row--pay">2 601₽ <span>Оплачен</span>
                    #}
                  </div>
              </td>
            </tr>
            <tr>
              <th>Способ оплаты</th>
              <td>Наличными курьеру <br>
                Оплата заказа при получении принимается наличными в рублях</td>
            </tr>
            <tr>
              <th>Способ доставки</th>
              <td>Курьером по Москве (Курьерская доставка в пределах МКАД в течение 1-4 днея с момента оформления
                заказа. 2 интеравала: с 10:00 до 18:00 или с 15:00 до 21:00. Доставка станет бесплатной при сумме заказа
                свыше 5 000₽)</td>
            </tr>
            <tr>
              <th>Адрес доставки</th>
              <td>Россия, Москва, Олимпийский проспект, д. 1В/1 гостиница “Азимут”</td>
            </tr>
            <tr>
              <th>Получатель</th>
              <td>Богданов Сергей Вячеславович +7 (910) 454-99-01</td>
            </tr>
            <tr>
              <th>E-mail</th>
              <td>bogdanoff55@rambler.ru</td>
            </tr>
          </table>
        </div>
        <div class="profile-order__subtitle">Состав заказа</div>
        <div class="profile-order__table">
          <table>
            <thead>
              <tr>
                <th>Наименование</th>
                <th>Кол-во</th>
                <th>Стоимость</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Radiohead – Hail To The Thief</td>
                <td>1</td>
                <td>4 568</td>
              </tr>
              <tr>
                <td>Майлз Дэвис – Bitches Brew</td>
                <td>1</td>
                <td>3 687</td>
              </tr>
              <tr>
                <td>My Bloody Valentine – Loveless</td>
                <td>1</td>
                <td>5 864</td>
              </tr>
              <tr>
                <td>The Beatles – Abbey Road</td>
                <td>1</td>
                <td>7 681</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
