<aside class="profile__menu profile-menu">
  <button class="profile-menu__burger"></button>
  <div class="profile-menu__content">
    <div class="profile-menu__box">
      <div class="profile-menu__title">Мои лоты</div>
      <ul>
        <li>
          <a href="#">Все лоты</a>
        </li>
        <li>
          <a href="#">Корзина</a>
        </li>
      </ul>
    </div>
    <div class="profile-menu__box">
      <div class="profile-menu__title">Мои заказы</div>
      <div class="profile-menu__title">Все заказы</div>
      <ul>
        <li>
          <a href="#">Новый</a>
        </li>
        <li>
          <a href="#">Собран</a>
        </li>
        <li>
          <a href="#">Отгружен</a>
        </li>
        <li>
          <a href="#">Доставлен</a>
        </li>
        <li>
          <a href="#">Отменен</a>
        </li>
        <li>
          <a href="#">Возврат</a>
        </li>
      </ul>
    </div>
    <div class="profile-menu__box">
      <div class="profile-menu__title">Статусы оплаты заказов</div>
      <ul>
        <li>
          <a href="#">Оплачен</a>
        </li>
        <li>
          <a href="#">Не оплачен</a>
        </li>
      </ul>
    </div>
    <div class="profile-menu__box">
      <div class="profile-menu__title">Полезная информация</div>
      <ul>
        <li>
          <a href="#">Как выставить лот</a>
        </li>
        <li>
          <a href="#">Доставка</a>
        </li>
        <li>
          <a href="#">Оплата</a>
        </li>
      </ul>
    </div>
    <div class="profile-menu__box">
      <div class="profile-menu__title">Мои данные</div>
      <ul>
        <li>
          <a href="#">Общая информация</a>
        </li>
        <li>
          <a href="#">Мой пароль</a>
        </li>
        <li>
          <a href="#">Мои документы</a>
        </li>
      </ul>
    </div>
  </div>
</aside>
<div class="profile-overlay"></div>
